/*data catalog search page*/
#surveys .survey-row {
	margin-bottom:5px;
	border-bottom:1px solid gainsboro;
	padding-bottom:5px;
	padding-top:10px;
	color:#333333;
	padding-left:5px;
	padding-right:5px;
}
#surveys .survey-row .title {
	font-size:16px;
	color:#993300;
	padding-bottom:2px;
	font-family:Georgia, "Times New Roman", Times, serif
}
#surveys .survey-row .sub-title {
	font-size:12px;
	color:#666666
}
#surveys {
	margin-top:20px;
}
#surveys .survey-icons {
	padding-top:10px;
	font-size:12px;
}
#surveys .survey-icons span {
	margin-right:8px;
}
#surveys .survey-icons span img {
	padding-right:1px;
	vertical-align:bottom
}
#surveys .survey-icons a {
	color:gray;
}
#surveys .survey-icons a:hover {
	color:#CC3300
}
#surveys a:link {
	color:#039
}
#surveys a:hover {
	text-decoration:underline
}
#surveys .pagination {
	background-color:gainsboro;
	font-size:12px;
	text-align:left;
	padding:5px;
}
#surveys .pagination a:hover {
	color:white;
	background-color:gray;
}
#surveys .pagination strong {
	color:black;
	font-weight:bold;
	background:gainsboro;
}
#surveys .variables-found {
	margin-top:3px;
	padding-bottom:5px;
	outline:none;
}
.catalog-sort-links {
	font-weight:normal;
	color:#666666;
	padding-bottom:5px;
}
.catalog-sort-links a {
	margin-right:5px;
	font-size:11px;
	font-weight:normal;
	color:#666666
}
.catalog-sort-links a:hover {
	color:#CC3300
}
.catalog-sort-links a.selected {
	font-weight:bold;
}

.ui-widget-content{background:none;}
.ui-accordion .ui-accordion-header a{padding-top:2px;padding-bottom:2px;font-size:12px;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#666666;font-weight:normal;}

.input{background-color:white;border:1px solid gainsboro;font-size:14px;}
.checkboxes{font-size:12px;font-weight:normal;}

.topic-container {padding-top:10px;}

.topic-items{background:white;display:inline;list-style:none;padding:0px;margin:0px;}
.topic-items li{padding:0px;margin-left:15px;}
ul.topic, li.topic{list-style:none;}
.topic-heading{font-weight:bold;display: inline-block;overflow:hidden;border:1px soild red;}
.topic{font-weight:normal;margin-left:15px;color:black;}

.disabled {color:silver;}

div.left {
	width: 46%;
	float: left;
	margin-right:5px;
	margin-bottom:5px;
}
.country{float:left;width:200px;font-size:11px;}
#search_form label{padding-left:2px;}
.variable-search label{padding-right:5px;}

.ui-accordion .ui-accordion-content{padding:5px;}
.variable-search{font-weight:normal;color:black;font-size:12px;}
.vsearch-result{display:none;}
.page-link{font-size:18px;}


.survey-row {
	overflow: hidden;
}

.survey-row .left {
	width: 90%;
	float: left;
}

.survey-row .right {
	float: right;
}

.da-legend img{vertical-align:bottom;border:0px}
.da-legend span, .da-legend label{margin-right:10px;color:gray;font-size:11px;}
.da-legend input{display:none;}
.da-legend label.unchecked{text-decoration:line-through}
.da-legend{padding-top:10px;}
.switch-page-size .btn{font-size:bold;}
.switch-page-size .btn:hover{cursor:pointer;color:black;}

.search-buttons .btn-cancel{border: 1px solid gainsboro;
padding: 2px;
text-decoration: none;
color: gray;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: white;
display: inline-block;}
.search-buttons .btn-cancel:hover{background-color:gray;color:white;border-color:gray;}
.search-buttons .button {background-color:#036;border-color:#036;color:white;}

#search_form, .vsearch{font-size:12px;}

/*filter by data access*/
.filter-da .da-desc{margin-left:23px;display:block;}
.filter-da label {margin-bottom:10px;display:block;}
.filter-da .title{font-weight:bold;}
