/*Page Layout based on YUI Grids*/
body, html {
	color:#333;
}
#doc2, #doc4 {
	background-color:white;
}
#custom-doc {
	background-color:white;
	width:100%;
	/**width:72.07em;*/
	min-width:960px;
	margin:auto;
	text-align:left;
	padding-bottom:0px;
	padding-top:5px;
}
#hd{}
#bd{border:0px;margint-top:10px;clear:both;margin-top:10px;}
#banner {
background-color: #036;
padding: 15px;
font-size: 1.5em;
color: white;display:block;
}

#ft {
	background-color:gray;
	padding:15px;
	text-align:left;
	margin:0px;
	margin-top:25px;
	border-bottom:20px solid white;
	color:#CCCCCC
}

/*user login bar */
#user-bar {
	padding:5px;
	text-align:right
}
.user-box{text-align:right;}
.user-box li{display:inline;}
.user-box li a{color:gray;border-left:1px solid gainsboro;padding-left:5px;}
.user-box li a:hover{color:black;}

.site-logo {
	color:gray;
	font-size:18px;
	font-weight:bold;
}
.site-logo img {
	float:left;
}
.site-logo-title {
	float:left;
	padding-top:15px;
	color:#666666
}
#content {
	padding:0px;
	padding-top:0px;
	min-height:400px;
}
#inner-body{border:0px solid gainsboro;}

/* site general styles */
h1 {
	font-size:22px;
	font-family: Georgia;
}
h2 {
	font-size:18px;
	font-family: Georgia;
	margin-bottom:10px;
	line-height:120%;
}
h3 {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
h4 {
	font-size:1em;
}
p {
	margin-bottom:15px;
	font-size:13px;
	line-height:20px;
	color:#333333;
}

img {
	border:0px;
}
a {
	text-decoration:none;
	color:#003399;
}
a:hover {
	color:#990000;
}

/*Table/Grid style*/
.grid-table tr td {
	padding:5px;
	border-bottom:1px solid #C1DAD7;
}
.grid-table .alternate {
	background-color:#FBFBFB
}
.grid-table a {
	color:#00679C;
	text-decoration:none;
}
.grid-table a:hover {
	color:maroon;
}

/*Button styles*/
.button{padding:1px;margin-top:5px;cursor:pointer;background-color:#6699FF;color:white;border:0px;}
.button:hover{background-color:black;color:white;}

input{padding-left:3px;padding-right:3px;}

/*ordered lists*/
ol{ display: block;margin-bottom:20px; }
/*ol li{list-style-type:decimal;margin-left:20px;}*/

/*lsms related styles*/
.highlights, .highlights td {color:gray;font-family: verdana; font-size:11px; line-height:1.5em;}
.lsms p,.lsms ul, .lsms ol{font-size:14px;margin-bottom:10px; color:#333333}
.lsms li li {font-size:14px;}
.lsms li, .lsms ul{margin-left:15px;list-style:disc outside;}
.lsms h1{margin-bottom:15px;}
.lsms ul{display:block;}
.highlights h3{padding:5px;margin:0px;background-color:#CCCCCC;color:#333333;height:32px; overflow:hidden; margin-bottom:5px;}

.button-light {
	border:1px solid gainsboro;
	padding:2px;
	text-decoration:none;
	color:gray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:white;
	display:inline-block
}
.button-light img {
	border:0px;
	vertical-align:bottom;
	padding-right:5px;
}
.button-light:hover {
	border:1px solid black;
	background-color:black;
	color:white;
}
em{font-style:italic;}
strong{font-weight:bold;}



.menu-horizontal {
border: 1px solid gainsboro;
border-top: 0px;
height: 36px;
margin-bottom: 5px;
}
.menu-horizontal li {
list-style: none;
float: left;
padding: 10px;
border-right: 1px solid gainsboro;
}

.site-logo {
color: gray;
font-size: 18px;
font-weight: bold;
}

.breadcrumbs{padding:5px;font-size:14px;margin-bottom:20px;}
.breadcrumbs a,.breadcrumbs span{color:#003399;}
.breadcrumbs .active{color:gray;}

.sidebar ul li{
	background: url(css/img_sprite_icons.png) -1120px -190px no-repeat;
	padding: 5px 10px 5px 16px;
}


td,tr{font-size:12px;}
#category li{background:none;}

.sidebar .active{font-weight:bold;}

/*overrides for intranet stylesheet*/
.tab-panel h3 {
PADDING-TOP: 0px;
}

.sub-title, .sub-title-l {
padding-left: 0px;
margin:0;
}


.repositories-sidebar h3 {
margin:0px;padding:5px;
background: url(css/bg_left_nav_grey_m_r_20100921.png) repeat-y 100% 50%;border-bottom:1px solid gainsboro;border-top:1px solid gainsboro;
}

.repositories-sidebar .first {border:none;}

.repositories-sidebar li{margin-left:10px;}

.static-page ul {font-size:12px; margin-left:20px; line-height:150%;margin-bottom:10px;}
.static-page li{
	background: url(css/img_sprite_icons.png) -1120px -190px no-repeat;
	padding: 5px 10px 5px 16px;
}
.notabs .breadcrumbs{margin:0px;}

.static-page .box-info{background-color:#E3F1FB;padding:10px;margin-top:10px;margin-bottom:10px;}
