/* website overall styles for the default template */
body, p, td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
body {
	margin:0px;
	padding:0px;
	color:#444444;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6em;
	background-image : url(images/bg.GIF);
}
p 	{
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}

/* hyperlink default */
.link , a{
	cursor:pointer;
	color:blue;
	text-decoration:none;
}
a:visited{
	color:navy;
}
a:hover{
	color:red;
}
/*left menu container*/
.menu-container {
	border:1px solid silver;
	padding:5px;
	background-color:white;
}
/* left menu items*/
.menu-item, .menu-item-selected {
	background-color:white;
	margin-top:5px;
	border-bottom:1px solid gainsboro;
	padding:3px;
}
/* left menu items (links)*/
.menu-item a {
	text-decoration:none;
	color:#0099FF;
	border:0px;
}
.menu-item a:hover {
	color:red;
}
.menu-item-selected a {
	font-weight:bold;
	text-decoration:none;
	color:#CC6600;
	border:0px;
}
/* page content area*/
.content-container {
	border:1px solid silver;
	padding:5px;
	background-color:white;
}
/* page links */
#page-content a, 
#page-content a:visited {
border-bottom:0px dashed blue
}
/* page content title/heading container*/
#content-title-container {
	border-bottom:4px solid gainsboro;
	margin-bottom:10px;
	height:20px;
}
/* page title */
#content-title-container .page-title {
	font-weight:bold;
	color:#003399;
	font-size:16px;
	float:left;
}
/* links in the page title */
#page-actions {
	float:right;
	padding:5px;
}
/* page footer */
#footer, .footer {
	background-color:gainsboro;
}

.surveylist-fullscreen {
	position:absolute;
	top:0;
	left:0;
	background-color:white;
}
/* error messages*/
.error-msg, .success-msg {
	padding:10px;
	font-size:14px;
	color:#333333;
	background-color:#FFFFB3
}
.error-msg, .error-msg ul li {
	color:red;
	font-weight:bold;
}
.error-msg, .error-msg ul, .success-msg, .success-msg ul {
	list-style:none;
	margin:0px;
	padding:5px;
}
/*success message */
.success-msg {
	color:#33CC00;
	font-weight:bold;
}
/* page sort links */
.sort-bar a {
	color:gray;
	font-weight:normal;
	text-decoration:underline
}
.sort-bar a:hover {
	color:red;
}
/* heading styles*/
h1, h2, h3 {
	color:#3366CC
}
h1 {
	font-size:18px;
}
h2 {
	font-size:16px;
	color:#cc0000;
	line-height:1.25em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:0px;padding:0px;
}
h3 {
	font-size:14px;
}
.success-box, .success, .error{padding:5px;color:green;font-size:14px;font-weight:bold;background-color:beige;margin-bottom:10px;border:1px solid #FFD2A6}
.error, .error ul li{color:red; list-style:none;margin:0px;}

/* boxes */
.box1 {
	padding:10px;
	margin:5px;
	background-color:#FFFFCC;
	border:1px solid gray;
}