/*Page Layout based on YUI Grids*/
body, html {
	background-color:#D8DCD0;
}
#doc2, #doc4 {
	background-color:white;
}
#custom-doc {
	background-color:white;
	width:73.85em;
	*width:72.07em;
	min-width:960px;
	margin:auto;
	text-align:left;
	padding:23px;
	padding-bottom:0px;
	padding-top:5px;
	background:url("bleed_page.png") repeat-y scroll 50% 0 transparent;
}
#yui-main .yui-b {
	background-color:white;
	padding:5px;
	min-height:400px;
}
#banner {
	background-color:#003366;
	padding:15px;
	font-size:1.5em;
	color:white;
}
#ft {
	background-color:gray;
	padding:15px;
	text-align:left;
	margin:0px;
	margin-bottom:20px;
	color:#CCCCCC
}

/*user login bar */
#user-bar {
	padding:5px;
	text-align:right
}
.user-box{text-align:right;}
.user-box li{display:inline;}
.user-box li a{color:gray;border-left:1px solid gainsboro;padding-left:5px;}
.user-box li a:hover{color:black;}

.site-logo {
	color:gray;
	font-size:18px;
	font-weight:bold;
}
.site-logo img {
	float:left;
}
.site-logo-title {
	float:left;
	padding-top:15px;
	color:#666666
}
#content {
	padding:15px;
	padding-top:0px;
	min-height:400px;
}
#inner-body{border:1px solid gainsboro;}
/*side menu*/
#sidebar {
	padding:5px;
}
#sidebar a {
	display:block;
	margin-top:5px;
	background-color:#666666;
	padding:5px;
	color:white;
	text-decoration:none;
}
#sidebar a:hover {
	background-color:#993300;
}
.menu-horizontal {
	border:1px solid gainsboro;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	height:36px;
	margin-bottom:20px;
}
.menu-horizontal li {
	float:left;
	padding:10px;
	border-right:1px solid gainsboro;
}
.menu-horizontal li a {
	font-weight:bold;
	color:gray;
}
.menu-horizontal li.selected {
	border-bottom:1px solid white;
	margin-bottom:-1px;
}
.menu-horizontal li a:hover, .menu-horizontal li.selected a {
	color:black;
}

/* site general styles */
h1 {
	font-size:1.8em;
}
h2 {
	font-size:1.5em;
}
h3 {
	font-size:1.2em;
}
h4 {
	font-size:1em;
}
p {
	margin-bottom:10px;
}
img {
	border:0px;
}
a {
	text-decoration:none;
	color:#003399;
}
a:hover {
	color:#990000;
}

/*Table/Grid style*/
.grid-table tr td {
	padding:5px;
	border-bottom:1px solid #C1DAD7;
}
.grid-table .alternate {
	background-color:#FBFBFB
}
.grid-table a {
	color:#00679C;
	text-decoration:none;
}
.grid-table a:hover {
	color:maroon;
}

/*Button styles*/
.button{padding:1px;margin-top:5px;cursor:pointer;background-color:#6699FF;color:white;border:0px;}
.button:hover{background-color:black;color:white;}

input{padding-left:3px;padding-right:3px;}

/*ordered lists*/
ol{ display: block;margin-bottom:20px; }
ol li{list-style-type:decimal;margin-left:20px;}