*.cache
trash
/trash
modules/mpdf
.settings
datafiles
*.spc
*.zip
_notes
dwsync.xml
backup/*.sql
database.php
email.php
application/cache/*
themes/datafirst
themes/vam
themes/sudan
themes/ja_purity
themes/lucia
themes/argentina
themes/peru
themes/sedlac
application/config/database.php
application/config/email.php
*.bak
logs
cache