*.cache
trash
/trash
modules/mpdf
.settings
datafiles
*.spc
-*.zip
_notes
backup/*.sql
database.php
email.php
application/cache/*
application/config/database.php
application/config/email.php
*.bak
logs
cache
backup/*
system.old
patches
.idea
imports
files/sessions
files/public
vendor
sample
system/language/base
