/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 *  1. Layout
 *  2. Common elements
 *  3. Form elemetns (Inputs, Buttons etc)
 *  4. Menu / Share bar
 *  5. Breadcrumb
 *  6. Hero
 *  7. Common elements
 *  8. Home teaser
 */


/* neutralize bootstrap box-sizing */

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/*
 * 1. Layout
 */
body, html,textarea,input, h1 {
    background-color:#FFFFFF;color:#333;
    font-family: 'Open Sans', sans-serif;
    text-align: inherit; /* fix the text aling center set by the reset-fonts-grid */
}
#doc2, #doc4 {
    background-color:white;
}

#mt-header{
    background: #dedede;
    min-width: 1006px;
}

#mt-information-bar{
    background: #ffffff;

    -webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .1);
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .1);
}

#mt-banner-strip{
    border-bottom: 1px solid #d4d4d4;
}

#mt-menu-bar{
    background: #eeeeee;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
}

.mt-inner{
    width: 960px;
    margin:0 auto;
    padding:0;
}

#custom-doc {
    background-color:white;
    width:73.85em;
    *width:72.07em;
    min-width:960px;
    margin:auto;
    text-align:left;
    padding:23px;
    padding-bottom:0px;
    padding-top:5px;
}

#bd{border:0px;margint-top:10px;clear:both;margin-top:10px;}
#banner,
#banner-subtitle {
    font-weight:bolder;
    font-size: 40px;

    text-shadow: 0px 2px 5px rgba(0,0,0, 0.14);
    filter: dropshadow(color=rgba(0,0,0, 0.14), offx=0, offy=2);

    background-color: transparent;
    padding: 0;

    color: #0088cc;
    display:block;

    padding-top: 10px;
    text-align:left;
}

#banner-subtitle{
    padding-top: 0;
    line-height: 90%;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0px 1px 2px rgba(0,0,0, 0.14);
    filter: dropshadow(color=rgba(0,0,0, 0.14), offx=0, offy=1);
}

#ft {
    color: #72767a;
    background-color:#dadada;
    padding: 50px 0 35px 0;
    text-align:left;
    margin:0px;
    margin-top:25px;
    min-width: 1006px;
}

#ft .ft-left{
    float: left;
}

#ft .ft-right{
    float: right;
}

#ft .menu li{
    list-style: none;
    float: left;
}

#ft .menu li a{
    border-right: 1px solid #8e9194;
    padding-right: 10px;
    margin-right: 10px;
}

#ft .menu li:last-child a{
    border-right: 0px;
}

.site-logo {
    color: gray;
    font-size: 18px;
    font-weight: bold;
}


/*
 * 2. Common elements
 */
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
}

h2 {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: bold;
}

h2 span.badge {
    font-size: 14px;
    font-weight: bold;
    background: transparent;
}

h2 span.badge.warning {
    color: #e67e22;
}

h3 {
    font-size:20px;
    font-weight:bold;
    line-height:20px;
}

h3 a{
    font-weight: normal;
}

h4 {
    font-size:1em;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom:15px;
    font-size:13px;
    line-height:20px;
    color:#333333;
}

img {
    border:0px;
}

a {
    text-decoration:none;
    color:#0088cc;
}

a:hover {
    color:#00b6f5;
    text-decoration:underline;
}

ol {
    display: block;
    margin-bottom:20px;
}

ol li{
    list-style-type:decimal;
    margin-left:20px;
}

.block ul li {
    list-style-type: disc;
    margin-left: 20px;
}

em{ font-style:italic; }

strong{ font-weight:bold; }

/*
 * 3. Form elements (Inputs, Buttons etc)
 */
.button{
    padding:1px;
    margin-top:5px;
    cursor:pointer;
    background-color:#0088cc;
    color:white;
    border:0px;}

.button:hover{background-color:#00b6f5;color:white;}

.btn-mini{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border: 0;

    text-shadow: none;

    color: #ffffff;
    background: #0088cc;
}

.btn-mini:hover{
    color: #ffffff;
    background: #00b6f5;
}

form,
form.form{ }

form.form.register,
form.form.change-password,
form.form.login{
    background:#f3f3f3;
    width:360px;
    padding: 20px;
}

.dd-content-container input,
.dd-content-container input.input-flex,
.dd-content-container textarea.input-flex{
    border:1px solid #cccccc;
    padding: 5px;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .15);
}

input.chk,
input.chk:hover,
input.chk-any,
input.chk-any:hover,
input.chk-da-any,
input.chk-da-any:hover,
input.chk-section,
input.chk-section:hover,
input.chk-item,
input.chk-item:hover,
input.chk-sub-collection,
input.chk-sub-collection:hover{
    border:0;
    padding:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:hover{
    border:1px solid #00b6f5;
}


.btn-style-1{
    color: #ffffff;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: #0088cc;
    font-size: 13px;
    font-weight: normal;
    text-shadow: inherit;
    padding: 7px 23px;
    min-width: 50px;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
    margin-right: 15px;
}

input[type='submit']:hover{
    background: #00b6f5;
}

.btn-style-1:hover {
    border: 0;
    padding: 7px 23px;
    background: #00b6f5;
}

label,
.form .field label {
    color:#363636;
    font-weight: normal;
    margin-bottom: 7px;
}

.form .field,
.form .field-inline {
    margin-bottom: 12px;
}

select {
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 4px;
}

/* links next to the form buttons */
a.form-link{
    font-size: 10px;
    text-decoration: underline;
}

a.form-link.cancel{

}

/*
 * 4. Menu / Share bar
 */
.menu-horizontal {
    border-top: 0px;
    height: 36px;
    padding: 10px 0px;
}

.menu-horizontal li {
    list-style: none;
    float: left;
    padding: 10px 20px;
}

.menu-horizontal li:first-child {
    background: url(img/home.png) no-repeat 0 center transparent;
    padding-left: 0;

    width: 16px;
}

.menu-horizontal li:first-child a{
    text-indent: -9999px;
    width: 16px;
    display: block;
}

/* share bar*/
.share-bar-container{
    position:relative;
    text-align:right;
    border:0px solid blue;
    margin-left:auto;
    margin-right:0px;
    z-index:100;height:30px;
}
ul.share-bar{position:absolute;border:0px solid red;height:30px;width:auto;text-align:left;right:0px;z-index:999}
ul.share-bar li{float:left;margin-left:3px;border:0px solid blue;padding:5px;position:relative;height:24px;vertical-align:baseline}
ul.share-bar .item-body{position:absolute;height:100px;width:100px;background:white;border:2px solid #CCCCCC;right:0px;z-index:100}

ul.share-bar ul{display:none;position:absolute;width:220px;background:#F7F7F7;right:0px;top:24px;padding:10px;border:4px solid #CCCCCC;z-index:1000}
ul.share-bar ul li{float:left;width:45%;font-size:11px;margin:0px;padding:5px;}
ul.share-bar ul li:hover{background-color:#FBFBFB; cursor:pointer}
ur.share-bar ul li img{vertical-align:baseline}
ul.share-bar li.active ul{display:block;}
ul.share-bar li.active{background-color:#CCCCCC}
a.share{background:url("img/shared_open.gif") no-repeat left center;padding-left:20px;color:#999999;text-transform:uppercase;font-size:11px}
.active a.share{background:url("img/shared_close.gif") no-repeat left center;color:black;}
ul.share-bar img{vertical-align:baseline}

/*
 * 5. Breadcrumb
 */
#breadcrumb{
    background: #ffffff;
    border-top: 1px solid #ffffff;
    text-align:left;
}

.breadcrumbs{
    padding: 10px 0px;
    font-size:11px;
    text-transform:uppercase;
    margin-bottom:20px;
}

.breadcrumbs a{
    padding: 0 10px;
}

.breadcrumbs span:first-child a{
    padding-left:0;
}

.breadcrumbs a,.breadcrumbs span{color:#0088cc;}

.breadcrumbs .active{color:gray;}

/*
 * 6. Hero
 */
.hero {
    position: relative;
    margin-bottom: 32px;
    line-height: 1;
}

.hero-inner {
    border-top: 4px solid #0088cc;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-content {
    height:200px;
    background:#f6f6f6;
    overflow:hidden;
    padding: 30px;
}

.hero-content .hero-thumb{
    float:left;
    margin-right:30px;
    overflow:hidden;
    height:200px;
    width:200px;
}

.hero-content .inner-content{
    overflow:hidden;
}

.hero-content h3{
    margin-bottom:10px;
    line-height:120%;
    font-weight:normal;
    font-size: 28px;
    color: #0088cc;
}

.hero-content p{
    font-size: 15px;
}

.hero-content a.btn{
    margin-top: 30px;
    padding: 10px;
    display: block;
    font-size: 14px;
    color: white;
    background: #0088cc;
    display: inline-block;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.hero-content a.btn.arrow{
    background: url(img/arrow-white.png) no-repeat right 4px #0088cc;
    padding-right: 35px;
}


/*
 * 7. Common elements
 *    - Box style
 */
.box-style-1{
    overflow: auto;
    clear: both;
    position: relative;

    border: none;
    background: #ffffff;
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #cccccc;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.box-style-1 .header{
    background: transparent;
    border-bottom: 1px solid #d7d7d7;
    padding: 6px 10px;
}

.box-style-1 .content{
    padding:10px;
    font-size: 14px;
}

.box-style-1 .item{
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom: 0;
}

.box-style-1 .item .title{
    font-size:16px;
}

.box-style-1 .item .created{
    color:#333333
}

.box-style-1 h2{
    margin:0px;
    padding:0px;
    font-size: 19px;
    color: #464646;
}


/*
 * 8. Home page teaser
 */
h2.teaser{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

h2.teaser::before{
    content: '.';
    background: url(img/icon-question.png) no-repeat left 2px transparent;
    width: 40px;
    display: inline-block;
    text-indent: -9999px;
}

div.teaser.box{
    clear: none;
    float: left;
    width: 175px;
    margin: 10px;
    background: #f6f6f6;
    padding: 25px;
}

div.teaser.box:first-child{
    margin-left: 0;
}

div.teaser.box:last-child{
    margin-right: 0;
}

div.teaser.box-style-1{
    border-top: 4px solid #0088cc;
    border-bottom: 0;
}

div.teaser.box-style-1 img.icon{
    display: block;
    margin: 0 auto;
}

div.teaser.box-style-1 h3{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 25px 0;
    line-height: 140%;
}


/*
 * 9. Inner pages - sidebar/main layout
 */
#sidebar{}

#sidebar.sidebar-left{
    width: 240px;
    margin-right: 10px;
    float: left;
}

#main{
    width: 690px;
    float: left;
    padding: 0 0 0 20px
}

#main h2{
    border-bottom: 2px solid #ececec;
    padding-bottom: 5px;
}

/*
 * 10. Blocks
 */
.block{
    background: #f3f3f3;
    padding: 20px;
}

.block > h2{
    font-size: 14px;
    text-transform: uppercase;
}

.block li a{
    font-weight: bold;
}

.block ol.tasks li {
    color: #0088cc;
    font-weight: bold;
    line-height: 140%;
}

.block ol.tasks > li {
    margin-top: 25px;
}


.block ol.tasks li ul li{
    color: #363636 ;
    font-weight: normal;
}

.block ol.tasks li ul li.task-ok{
    list-style: none;
    padding-left: 20px;
    margin-left: 0;
    background: url(img/icon-task-ok.png) no-repeat 0 50%;
}

.block ol.tasks li ul li.task-warning{
    list-style: none;
    padding-left: 20px;
    margin-left: 0;
    background: url(img/icon-task-warning.png) no-repeat 0 50%;
}

.block ol.tasks li a{
    text-transform: uppercase;
}

.block ul.deposits{
    margin-top: 20px;
}

.block .deposits li{
    line-height: 140%;
    list-style: none;
    padding-left: 20px;
    margin-left: 0;
    font-weight: bold;
    color: #aeaeae;
    background: url(img/icon-list-arrow.png) no-repeat 0 50%;
}

/*
 * 11. Create new Deposit Page
 */

/* steps */
#steps {
    margin-bottom: 55px;
}

#steps .step{
    position: relative;
    padding: 10px;
    width: 110px;
    height: 95px;
    float: left;
    margin-right: 10px;
    border-top: 4px solid #d6d6d6;
    background: #fafafa;
}

#steps .step:last-child{
    margin-right: 0;
}

#steps .step.completed{
    border-top: 4px solid #0088cc;
}

#steps .step.active{
    border-top: 4px solid #00b6f5;
    background: #eeeeee;
}

#steps .step .step-number,
#steps .step .step-title{
    font-size: 16px;
    font-weight: bold;
    color: #0088cc;
}

#steps .step .step-number{
    font-size: 18px;
    margin-bottom: 3px;
}

#steps .step.completed .step-number{
    background: url(img/icon-step-ok.png) no-repeat right 50%;
}

#steps .step.active  .step-number{
    background: url(img/icon-step-edit.png) no-repeat right 50%;
}

#steps .step .step-message{
    color: #737373;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #ffffff;
    bottom: -25px;
    display:none;
}

#steps .step.active .step-message{display:block}

#steps:after{
    content: ".";
    clear: both;
    text-indent: -9999px;
    display: block;
}

.buttons-group-left{
    margin-top: 20px;
    float: left;
}

.buttons-group-right{
    margin-top: 20px;
    float: right;
}

.btn.action-choose{
    padding-left: 25px;
    background-image: url(img/icon-button-action.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

.btn.import-data{
    padding-left: 25px;
    background-image: url(img/icon-button-import.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

.btn.expand-all{
    padding-left: 25px;
    background-image: url(img/icon-button-expand.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

.btn.collapse-all{
    padding-left: 25px;
    background-image: url(img/icon-button-collapse.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

.create-panels:before{
    content: ".";
    clear: both;
    text-indent: -9999px;
    display: block;
}

.create-panels{
    margin-top: 20px;
    clear: both;
}

.action-bar{
    margin-top: 50px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* my deposits page */
.my-deposits .project-row{
    overflow:auto;
    clear:both;
    border-bottom: 1px solid gainsboro;
    padding:10px;
    position:relative;
}

.my-deposits .project-body{
    margin-left:150px;
}

.my-deposits .title{
    font-size:26px;
    font-weight:normal;
    color:#0088cc
}

.my-deposits .subtitle{
    color:slategray;
    font-size:14px;
}

.my-deposits .author{
    color:gray;margin-top:15px;
    font-size:12px;
}

.my-deposits .author .date-modified,
.my-deposits .author .created-by
{
    margin-right:15px;
}

.my-deposits .actions .glyphicon{margin-left:10px;}

.my-deposits .project-status{
    position:absolute;
    left:10px;
    top:10px;
}

/* deposit edit pages */
.dd-content-container .dd-sidebar {
    /*float: none;
    position:absolute;
    left:0px;*/
}

.dd-content-container h1{
    letter-spacing:0.001em;
}

.dd-content-container{position:relative}
.dd-content-container .dd-content{border:none;}

.dd-content-container .dd-header{
    background-color:transparent;
    font-weight:bold;
    border-bottom:2px solid #ececec;
    padding-bottom:5px;
    color:black;
    font-size:21px;
    margin-bottom:10px;
}

.dd-content-container #tabs .ui-tabs-nav li,
.dd-content-container #tabs .ui-widget-header{
    border-radius:0px;
}

/*.dd-content-container .dd-body{
    padding:10px 0px 0px 0px;
    overflow:hidden;
    width:99%;
}*/

.btn.import-data {
    padding-left: 25px;
    background-image: url(img/icon-button-import.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #00b6f5;
    border-color: #00b6f5;
    color:white;
}

.btn:hover, .btn:focus {
    text-decoration: none;
}
.btn-primary {
    background-color: #0088cc;
    border-color: #0088cc;
}
.btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 13px;
}

.dd-content-container .save-container{margin-top:30px;}

/*field label, descriptions*/
.dd-content-container label, .form .field label{
    font-weight:bold;
    font-size:14px;
}

.dd-content-container .dd-form .field .text_help{
    color:gray;
    font-style:normal;
}

.dd-content-container .dd-edit-study-description .section-body .field{
    /*overflow:inherit;*/
}


/* project pending tasks sidebar */
.dd-sidebar-box{
    width:200px;
    padding:10px;
    margin-bottom:15px;
    background:#f3f3f3
}

.dd-sidebar-box .box-header{
    padding:5px;
}

.dd-sidebar-pending-tasks .box-body{
    padding-left:10px;
}

.dd-sidebar-pending-tasks .task{
    margin-bottom:25px;
    font-size:12px;
}


.dd-sidebar-box h2,
.dd-sidebar-box h3{
    margin:0px;
    padding:0px;
    text-transform: uppercase;
    font-size:14px;
}

.dd-sidebar-box h2{
    padding:5px;
}
.dd-sidebar-box h3{
    margin-top:15px;
    font-size:14px;
}

.dd-sidebar-pending-tasks .task-completed{
    background:url(img/icon-task-ok.png) no-repeat 0 50%;
    padding-left:20px;
}

.dd-sidebar-pending-tasks .task-pending{
    background:url(img/icon-task-warning.png) no-repeat left center;
    padding-left:20px;
}

.dd-sidebar .create-project-button,
.dd-sidebar .start-new-project{
    margin-bottom:15px;
    background-color:#00b6f5;
    padding:5px;
    color:white;
    text-align:center;
}


.dd-actions-container{height:60px;}
.dd-actions-container .btn-group li span{padding-left:5px;display:block;color:#0088cc}
.dd-actions-container .btn-group li span:hover{cursor:pointer;color:black;}

.dd-content-container .input-flex,
.dd-content-container .input-fixed200,
.dd-content-container .input-fixed300 {
    width: 98%;
}

.dd-content-container .grid_three table{
    padding:5px;
}

.dd-content-container .grid_three table td{
    background:white;
}
.dd-content-container .grid_three table th
{
    background-color:gainsboro;
}

.dd-content-container .grid_three table .last{
    background:transparent;
}



.dd-content-container .header{
    height:auto;
}

.dd-content-container .citation-edit fieldset legend{
    font-weight:bold;
    cursor:pointer;
    padding:5px;
}

.error, .success {
    background-color: rgb(244, 255, 242);
    border: 2px solid rgb(40, 190, 40);
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #00CC00;
    font-weight: bold;
}

.error {
    color: red;
    border: 2px solid red;
    background-color: rgb(252, 248, 248);
}




.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}


.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.project-import-dialog{display:none;margin-top:10px;}

.project-reopen .submit-button{margin-top:10px;}



/*data deposit styles from styles.css*/


/* study description page */

.dd-edit-study-description .field-collapsed .section-body{
	display:none;
}


.dd-edit-study-description .section-title{
	font-size:14px;
	padding:10px;
	cursor:pointer;
    font-weight:bold;
    color:white;
}

.dd-edit-study-description .section-header{
	position:relative;
}

.dd-edit-study-description .field-collapsed .section-icons{
	display:none;
}

.dd-edit-study-description .section-icons{
	position:absolute;
	right:10px;
	top:3px;
}


.dd-edit-study-description .dd-study-section{
	background:#0088cc;
	overflow:hidden;
	margin-bottom:5px;
	position:relative;
}

.dd-edit-study-description .section-body{
	padding:10px;
	background-color:#f3f3f3;
}

.dd-edit-study-description .section-body .field{
	margin-bottom:15px;
	overflow:auto;
}

.dd-edit-study-description .section-body .grid tr{
	border:1px solid gainsboro;
	border-collapse:collapse;
}

/* study/grid*/
.dd-edit-study-description .grid_three{
    width:100%;
    margin-top:15px;
}

.dd-edit-study-description table.grid {
	border:0px;
	border-collapse:separate;
	background-color: none;
	width:100%;
}

.dd-edit-study-description table.grid input{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:0px;
}

.dd-edit-study-description table.grid th {
	border-width: 0px;
	font-size: 9pt;
	padding: 2px;
	background-color:transparent;/*#F0F0F0*/;
    border-bottom:2px solid #dcdcdc;
	text-align:left;
}

.dd-edit-study-description table.grid td {
	border:1px solid gainsboro;
	padding:2px;
	margin:0px;
	background:white;
}

.dd-edit-study-description .section-body .grid .last
{
	background:none;
	border:none;
	width:20px;
}


.dd-edit-study-description table.grid td input{border:0px;width:95%;position:relative;}

.dd-edit-study-description .right{float:right;}

.dd-edit-study-description .left{float:left;}

.dd-edit-study-description .addButton,
.dd-edit-study-description .rembutton{border:none; background-color:#ccc; font-size:20px; font-weight:bold; width:20px; height:20px;margin:0px;}

.dd-edit-study-description label img {
	margin-left: 6px;
}


.dd-edit-study-description .button-add,
.dd-edit-study-description .button-del{
	background-color:#0088cc;
	font-size:11px;
	font-weight:bold;
	padding:2px;
	width:14px;
	height:14px;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	margin-left:3px;
    color:white;
}

.dd-edit-study-description .button-del{
	background:#23AEF3;
}

.dd-edit-study-description .button-add:hover,
.dd-edit-study-description .button-del:hover{
	background:black;
	color:white;
}


.dd-content-container .project-title {
	margin-bottom:10px;
}

.dd-content-container{
	clear:both;
}

.dd-content-container .dd-sidebar{
	float:left;
}


/*.dd-content-container .dd-body {
	padding:10px;
	overflow:auto;
}*/

/* study action icons */
.dd-content-container .dd-icon{
	font-size:11px;
	margin-top:2px;
	margin-right:20px;
	display:block;
	float:left;
	cursor:pointer;
	color:#4554C4
}

.dd-content-container .dd-icon:hover{
	color:red;
}

.dd-content-container .icon-help,
.dd-content-container .icon-all-fields,
.dd-content-container .icon-recommended,
.dd-content-container .icon-mandatory,
.dd-content-container .icon-save
{
	display:block;
	float:left;
	width:20px;
	height:16px;
	background:url(help.png) no-repeat left center;
	margin-top:-2px;
}

.dd-content-container .icon-help{
	background:url(help.png) no-repeat left center;
}

.dd-content-container .icon-all-fields{
	background:url(accept.png) no-repeat left center;
}

.dd-content-container .icon-recommended{
	background:url(cog_go.png) no-repeat left center;
}

.dd-content-container .icon-mandatory{
	background:url(exclamation.png) no-repeat left center;
}

.dd-content-container .icon-save{
	background:url(disk.png) no-repeat left center;
}

.dd-content-container .HelpMsg
{
	display:none;
}

.dd-content-container .HelpMsg,
.dd-content-container .HelpMsg p
{
	color:gray;
	font-size:12px;
	background-color:#F1F1F1;
	padding:5px;
	margin:0px;
	padding-bottom:10px;
}

.HelpMsg ul {
	list-style-type: circle;
	margin-left: 30px;
}

.HelpMsg li{
	margin-bottom:5px;
}

.dd-edit-study-description{
	position:relative;
    clear:both;
    padding-top:10px;
}

.dd-edit-study-description #iconic_functions {
	overflow:auto;
	margin-bottom:10px;
}

.dd-edit-study-description #iconic_functions .section-icons{
	position:relative;
}

#toTop {
width: 100px;
border: 1px solid #CCC;
background: #F7F7F7;
text-align: center;
padding: 5px;
position: fixed;
z-index: 500;
bottom: 20px;
right: 10px;
cursor: pointer;
font-weight: bold;
display: none;
color: #333;
font-family: verdana;
font-size: 11px;
}

.bullet{
	list-style:disc;
	padding: 5px 10px 5px 16px;
}


.user-projects li{
	border-bottom:1px dashed gainsboro;
	padding-bottom:8px;
	margin-bottom:8px;
}

.lnk-color{color:white;text-decoration:none}
.lnk-color:hover{color:white;}


/* project top progress bar */
.dd-progress-bar{
	border:0px solid gainsboro;
	padding:0px;
	margin-left:220px;
	overflow:auto;
	margin-bottom:25px;
}

.dd-progress-bar .step{
	width:112px;
	height:70px;
	border:1px solid #CCCCCC;
	vertical-align:middle;
	font-size:12px;
	position:relative;
	display:inline-block;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dd-progress-bar .step:hover{
	background:#F7ECBF;
	border-color:#FF9900;
}

.dd-progress-bar .step-sep{
	width:45px;
	height:70px;
	vertical-align:middle;
	position:relative;
	display:inline-block;
	float:left;
	background:url('right-arrow-2.png') no-repeat center;
}


.dd-progress-bar .step a{
	display:table-cell;
	vertical-align:middle;
	height:70px;
	padding-left: 25px;
	padding-right: 10px;
}


.dd-progress-bar .active{
	background:#F9FFE3;
	border:2px solid #FF9900;
}

.dd-progress-bar .step .task-completed{
	background:url(accept.png) no-repeat;
	width:16px;
	height:16px;
	top:4px;
	right:4px;
	position:absolute;
	z-index:100;
}

.submit-button{
    margin-bottom: 15px;
    background-color: #0088cc;
    border:1px solid #0088cc;
    padding: 5px;
    color: white;
    text-align: center;
    cursor:pointer;
    min-width:50px;
}

.submit-button:hover{
	background:black;
}


.dd-form .field{
    margin-bottom:25px;
}

.dd-form .field .text_help{
    margin-top:5px;
    margin-bottom:0px;
}

.dd-form .field .collaborator{
    width:200px;
    float:left;
    display:block;
	margin-right:5px;
}

.dd-form .collaborators{
    width:500px;
    overflow:auto;
}


/*review and submit tab*/
.page-review-submit .field fieldset{border:0px;}
.page-review-submit .field fieldset td,
.page-review-submit .field fieldset th{
	text-align:left;
}

.page-review-submit .field legend{border:none;}

.page-review-submit .tbl-border,
.page-review-submit .tbl-border th,
.page-review-submit .tbl-border td,
.page-review-submit .field table,
.page-review-submit .field table th,
.page-review-submit .field table td
{
	border:1px solid gainsboro;
	padding:5px;
	border-collapse:collapse;
}

.page-review-submit .field table.left,
.page-review-submit .field table.left th,
.page-review-submit .field table.left td{
	background-color:#E9E6E6;
}

.page-review-submit .field table.left td{
	background-color:#F8F8F8;
	color:#666666
}

.page-review-submit .field .td-label{
	background-color:#FDFAFA
}

.page-review-submit .grid-table .header,
.page-review-submit .grid-table .header th
{
	height:auto;
	border:1px solid gainsboro;
}

.page-review-submit .grid-table .header{
	background-color:#FDFAFA
}

.page-review-submit  .warnings {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #E4E4E4;
	background-color: #FDFDFD;
}

.page-review-submit a.mandatory{
	display:block;
	padding:5px;
	color:red;
	font-size:12px;
}

.page-review-submit .embargoed {
	display:none;
}

.page-review-submit label {
	font-size: 10pt
}

.page-review-submit h2.title{
	margin-top:30px;
}

/* ui tabs */
#tabs{
	border:0px;
}

#tabs .ui-widget-header {
	border:0px;
	border-bottom:1px solid #C9C9C9;
	background:none;
	background-color:transparent;
}

#tabs .ui-tabs-nav li{
	font-size:12px;
}

.dd-body .ui-widget{
	font-size:14px;
}

sup .required {
	font-size:11.4pt;color:#ff0000
}

#email-project{
	background:ivory;border:1px solid #FDB212;padding:15px;margin:10px;margin-top:30px;
}

.field .description,
.field .description p
{
	color:#999999;
	font-size:12px;
}

form.project-submit .field{
	margin-bottom:30px;
}

.project-submit .confirm-message
{
	background:#F9EEE3;
	padding:15px;
}