/* Generic email template styles */
.email-header
{
	background-color: #03456B;
	background: #03456B;
	color: #D9DADD;
	font-family: Arial, Helvetica, sans-serif;
}

.email-header-text{
	margin:0px auto;
	xwidth:600px;
	color:white;
	padding:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}

.email-footer{
	color:#666666;
	margin-top:40px;
	border-top:1px solid gainsboro;
	padding-top:15px;
	padding-bottom:20px;
}

.email-footer-text{
	margin:0px auto;
	width:600px;
}


body,
.email-content-container {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#F3F3F3;
	margin:0px;
	padding:0px;
}

.email-body{
	background:white;
	margin:0px auto;
	padding:20px;
	margin-top:20px;
	width:600px;
}

.email-message{
	font-size:14px;
}

table {
	width:100%;
	font-size:12px;
	border-collapse:collapse;
}

legend{
	font-weight:bold;
	padding-top:20px;
	font-size:16px;
	color:#666666;
}

/* project summary styles */
.page-review-submit .td-label{width:150px;}
.page-review-submit fieldset{border:0px;}

.page-review-submit td,
.page-review-submit th,
{
	border:1px solid gainsboro; 
	border-collapse:collapse;
	padding:5px;
	text-align:left;
}

.page-review-submit .tbl-border,
.page-review-submit .tbl-border th,
.page-review-submit .tbl-border td,
.page-review-submit .field table,
.page-review-submit .field table th,
.page-review-submit .field table td
{
	border:1px solid gainsboro;
	padding:5px;
	border-collapse:collapse;
}

.page-review-submit .field table.left,
.page-review-submit .field table.left th,
.page-review-submit .field table.left td{
	background-color:#E9E6E6;
	text-align:left;
}

.page-review-submit .field table.left td{
	background-color:#F8F8F8;
	color:#666666
}

.page-review-submit .field .td-label{
	background-color:#FDFAFA;
	vertical-align:top;
}

.page-review-submit .study-description{
	padding-top:20px;
}

.page-review-submit .grid-table .header,
.page-review-submit .grid-table .header th
{
	height:auto;
	border:1px solid gainsboro;
}

.page-review-submit .grid-table .header{
	background-color:#FDFAFA
}

.page-review-submit h2.title{
	padding:0px;
	margin:0px;
	padding-top:15px;
	padding-bottom:10px;
}