/*Page Layout based on YUI Grids*/
body, html {
	color:#333;
	background: #f3f6fb;
	margin:0 !important;
}
#doc2, #doc4 {
	background-color:white;
}
#custom-doc {
	background-color:white;
	width:100%;
	/**width:72.07em;*/
	min-width:960px;
	margin:auto;
	text-align:left;
	padding-bottom:0px;
	padding-top:5px;
}
#hd{}
#bd{border:0px;margin-top:10px;clear:both;margin-top:10px;}
#banner {
background-color: #036;
padding: 15px;
font-size: 1.5em;
color: white;display:block;
}

#ft {
	background-color:gray;
	padding:15px;
	text-align:left;
	margin:0px;
	margin-top:25px;
	border-bottom:20px solid white;
	color:#CCCCCC
}

#srvcTab {
	display: block;
	clear: both;
	width: 100%;
	height: 100px;
}

.m-head h2 { 
	background: none;
	color: #fff;
}

/*user login bar */
#user-bar {
	padding:5px;
	color: #fff !important;
	text-align:right;
	height:50px;
	background: url(http://localhost/nada4/themes/wb_intranet/css/header_sprite_0802.png) 0px -460px;
}

.tab-content-body {
	border-left: none;
	border-right: none;
}

.tab-content .tab-b-t-m {
	border-top: none;
}

.tab-content .tab-b-b-m {
	border-bottom: none;
}

.navbox {
	width:100px;
	height:60px;
	padding: 5px;
	border-radius: 3px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	margin-left:50px;
	border: #666 1px solid;
}

.navbox a {
	color: #fff;

}

.navbox a:hover {
	color: #fff;
}

.tab-header {
	background: #991304;
	color: #fff;
	font-size: 11pt;
	padding: 5px;
	width: 250px;
	margin-top:20px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 10px;
}

div .navbox img {
	float: right;
	position: relative;
	left: 37px;
	margin-top: 10px;
}

.m-head h2 {
	margin-left: 7px;
}

.grey-module {
	MARGIN-BOTTOM: 9px;
	width: 100%;
}

.m-body {
	padding: 20px;
	FONT-SIZE: 0.75em; BACKGROUND: url(bg_left_nav_grey_m_l_20100921.png) #fff repeat-y 0px 0px; OVERFLOW: hidden;
	border-left: rgba(88, 0, 0, 0.70) 1px solid;
	border-right: rgba(88, 0, 0, 0.70) 1px solid;
	border-bottom: rgba(88, 0, 0, 0.70) 1px solid;
}

.tab-wrapper {
margin-left: 0;
margin-right: 0;
z-index: 300;
padding-top: 5px;
margin-bottom: -1px;
}
.tab-content {
	padding: 10px;
	background: #fff;
border-bottom-right-radius: 5px 5px;
border-top-right-radius: 10px;
	border: #991304 3px solid;
}

.m-head {
	background: #991304;
	padding: 1px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px;
	color: #fff;
}

#color1 {
	background: #991304;
}

#color2 {
	background-color: #9ED651;
}

#color3 {
	background-color: #0476AE;
}

#color4 {
	background-color: #C3A883;
}

#color5 {	
	background-color: #5D6056;
}

#color6 {
	background-color: #D2A295;
}

.user-box{text-align:right;}
.user-box li{display:inline;}
.user-box li a{color:gray;border-left:1px solid gainsboro;padding-left:5px;}
.user-box li a:hover{color:black;}

.site-logo {
	color:gray;
	font-size:18px;
	font-weight:bold;
}
.site-logo img {
	float:left;
}
.site-logo-title {
	float:left;
	padding-top:15px;
	color:#666666
}
#content {
	padding:0px;
	padding-top:0px;
	min-height:400px;
}
#inner-body{border:0px solid gainsboro;}

/* site general styles */
h1 {
color: #333;
font-size: 1.25em;
font-weight: bold;
margin: 7px 0 14px 0;
}
h2 {
	font-size:18px;
	margin-bottom:10px;
	line-height:120%;
}
h3 {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
h4 {
	font-size:1em;
}
p {
	margin-bottom:15px;
	font-size:13px;
	line-height:20px;
	color:#333333;
}

img {
	border:0px;
}
a {
	text-decoration:none;
	color:#003399;
}
a:hover {
	color:#990000;
}

/*Table/Grid style*/
.grid-table tr td, .grid-table tr th{
	padding:5px;
	border-bottom:1px solid #C1DAD7;
	font-size:12px;
}
.grid-table .alternate {
	background-color:#FBFBFB
}
.grid-table a {
	color:#00679C;
	text-decoration:none;
}
.grid-table a:hover {
	color:maroon;
}

/*Button styles*/

/*.button:hover{background-color:black;color:white;} */

input{padding-left:3px;padding-right:3px;}

/*ordered lists*/
ol{ display: block;margin-bottom:20px; }
/*ol li{list-style-type:decimal;margin-left:20px;}*/

/*lsms related styles*/
.highlights, .highlights td {color:gray;font-family: verdana; font-size:11px; line-height:1.5em;}
.lsms p,.lsms ul, .lsms ol{font-size:14px;margin-bottom:10px; color:#333333}
.lsms li li {font-size:14px;}
.lsms li, .lsms ul{margin-left:15px;list-style:disc outside;}
.lsms h1{margin-bottom:15px;}
.lsms ul{display:block;}
.highlights h3{padding:5px;margin:0px;background-color:#CCCCCC;color:#333333;height:32px; overflow:hidden; margin-bottom:5px;}

.button-light {
	border:1px solid gainsboro;
	padding:2px;
	text-decoration:none;
	color:gray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:white;
	display:inline-block
}
.button-light img {
	border:0px;
	vertical-align:bottom;
	padding-right:5px;
}
.button-light:hover {
	border:1px solid black;
	background-color:black;
	color:white;
}
em{font-style:italic;}
strong{font-weight:bold;}



.menu-horizontal {
border: 1px solid gainsboro;
border-top: 0px;
height: 36px;
margin-bottom: 5px;
}
.menu-horizontal li {
list-style: none;
float: left;
padding: 10px;
border-right: 1px solid gainsboro;
}

.site-logo {
color: gray;
font-size: 18px;
font-weight: bold;
}

.breadcrumbs{padding:5px;font-size:14px;margin-bottom:20px;}
.breadcrumbs a,.breadcrumbs span{color:#003399;}
.breadcrumbs .active{color:gray;}

.sidebar ul li{
	background: url(css/img_sprite_icons.png) -1120px -190px no-repeat;
	padding: 5px 10px 5px 16px;
}


/*td,tr{font-size:12px;}*/
#category li{background:none;}

.sidebar .active{font-weight:bold;}

/*overrides for intranet stylesheet*/
.tab-panel h3 {
PADDING-TOP: 0px;
}

.sub-title, .sub-title-l {
padding-left: 0px;
margin:0;
}


.repositories-sidebar h3 {
margin:0px;padding:5px;
background: url(css/bg_left_nav_grey_m_r_20100921.png) repeat-y 100% 50%;border-bottom:1px solid gainsboro;border-top:1px solid gainsboro;
}

.repositories-sidebar .first {border:none;}

.repositories-sidebar li{margin-left:10px;}

.static-page ul {font-size:12px; margin-left:20px; line-height:150%;margin-bottom:10px;}
.static-page li{
	background: none;
	list-style:disc;
	padding: 5px 10px 5px 16px;
}
.static-page #tabs ul{margin-left:0px;margin-bottom:0px;padding-left:20px;}
.static-page .ui-tabs-nav li{list-style:none;}
.static-page #tabs .ui-widget-header {
	border:0px;
	background: none;
}
.static-page #tabs .ui-widget-content {border:1px solid #AAA;}
.static-page .ui-widget-content {
	border: 0px;
}
.static-page .ui-tabs .ui-tabs-panel {
padding: 1em 1.4em;
display: block;
border-width: 0;
background: none;
}

.notabs .breadcrumbs{margin:0px;}

.static-page .box-info{background-color:#E3F1FB;padding:10px;margin-top:10px;margin-bottom:10px;}
.citations-listing{font-size:12px;}

.static-page dt{
	font-size:smaller;
	line-height:20px;
	background: url(css/img_sprite_icons.png) -1120px -190px no-repeat;
	padding-left: 20px;
	margin-bottom:15px;
	cursor:pointer;
	color:navy;
}

.m-head {cursor:auto}

.m-body h3{font-size:12px;line-height:normal;margin:0px;padding-bottom:5px;font-weight:normal;}
.m-body .tbl-x{margin-left:5px;margin-right:5px;}
.m-body .tbl-x tr,.m-body .tbl-x td{vertical-align:top;padding-bottom:15px;}

.grey-module .content {padding-left:10px;}

.grey-module .stats{padding:10px;}

.quick-search-box {
clear: both;
margin: 0px;
border: 3px solid orange;
height: 26px;
overflow: hidden;
width: 390px;
float: left;
padding: 3px;
margin-right: 5px;
}

.quick-search-box .sk{
outline:none;
border:none;
/*background:url(css/header_sprite_0802.png) no-repeat;*/
background:white;
float:left;
height:21px;
width: 345px; 
color: #666;  
padding:2px 5px 0px; 
margin:0px
}

.quick-search-box .submit-button {
float: left;
height: 26px;
width: 35px;
border: none;
cursor: pointer;
background:#003366;
color:white;
}

/*slideshow */
.slide-show {
	clear: both;
	position: relative;
}
.slide-show .slides_container img {
	float: left;
	margin-right: 10px;
	height: 156px;
	margin-top: 10px;
}
.slide-show .pagination {
	width: 100px;
	position: absolute;
	bottom: 5px;
	right: 0px;
	text-align: right;
	padding: 0px;
	/*height: 1px;*/
z-index: 500;
	background:none;
}
.slide-show .pagination li.current a {
	background-position:0 -12px;
	border:0px;
}
.slides_container {
	width: 600px;
	display: none;
	background: gainsboro;
}
.slides_container div {
	width: 600px;
	height: 170px;
	display: block;
}
.slide-show .pagination li {
	float: left;
	margin: 0 1px;
	list-style: none;
	border: 0px;
	PADDING-RIGHT: 0px;
	BACKGROUND: none;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 3px;
	LINE-HEIGHT: normal;
	PADDING-TOP: 2px;
}
.slide-show .pagination li a {
	display: block;
	width: 6px;
	height: 0;
	padding-top: 8px;
	background-image: url(pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
	border: 0px;
}
.slide-show .pagination li a:hover {
	background-color:white;
	background-position:0 -12px;
}

.recent-studies .survey-row td{padding-bottom:10px;}
/*.recent-studies .title {font-weight:bold;font-size:smaller}*/
.recent-studies .created {color:gray;font-size:smaller}
.recent-studies h3{display:none;}


.grey-module .stats {text-align:center;}
.stats-surveys, .stats-variables, .stats-citations{font-weight:bold;color:#999999;font-size:16px;}
.block-stats{text-align:center;line-height:200%;}
.stats-date{color:gray;font-weight:bold;}
.block-stats-button a{
	color:#e5eff9;
	margin:30px;
	margin-bottom:0px;
	margin-top:10px;
	background-color:#306caa;
	color:#e5eff9;
	font-size:18px;
	padding:5px;
	text-align:center;
	display:block;
	text-decoration:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px
	}
.block-stats-button a:hover{background:black;text-decoration:none;}

.small .stats-surveys, .stats-variables, .stats-citations{font-weight:bold;color:#999999;font-size:16px;}
.small .block-stats{text-align:center;line-height:200%;}
.small .stats-date{color:gray;font-weight:bold;}
.small a{font-size:14px;}


.catalog-history table td, .catalog-history table th{font-size:smaller;}

.align-right{text-align:right;padding-right:5px}

table.public-use td{font-size:12px;}

.bg-star {background: url(bg-star.png) no-repeat top center;padding-top:40px;}
.stats .stats-text{margin-bottom:10px;font-size:16px;}

.f-box-container a{display:block;text-align:center;border:1px solid gainsboro;padding:10px;margin:5px;width:100px;height:80px;padding-top:40px;background-color:#EBEBEB; color:black;text-decoration:none;}
/*with white shadow to fix screen blinking on hover*/
.f-box-container a{
	-moz-box-shadow: 3px 3px 4px #fff; 
	-webkit-box-shadow: 3px 3px 4px #fff; 
	box-shadow: 3px 3px 4px #fff; 
	/* For IE 8 */ 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ffffff')"; 
	/* For IE 5.5 - 7 */ 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ffffff'); 
}
.f-box-container a:hover{
	text-decoration:none;
	-moz-box-shadow: 3px 3px 4px #000; 
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
	/* For IE 8 */ 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; 
	/* For IE 5.5 - 7 */ 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); 
}

.f-box-container img{margin-bottom:5px;}

.repo-table h3{margin-top:0px;}

.user-box {font-size:12px;font-weight:bold;}
.user-box .profile, .user-box .password, .user-box .register{display:none;}
.user-box .username{text-transform:capitalize}

.notice {
margin-top: 19px;
background-color: beige;
padding: 10px;
}
