@charset "UTF-8";

/*
* ======== VARIABLES ========
*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=cyrillic-ext,greek-ext");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "_variables.css";

/*
 * Recolor Bootstrap
 */

.btn-primary {
    background-color: var(--color-button-primary);
    border-color: var(--color-button-primary);
}

.btn-link {
    color: var(--color-button-primary);
}

.btn-outline-primary {
    color: var(--color-button-primary);
    border-color: var(--color-button-primary);
}

.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--color-button-primary);
    border-color: var(--color-button-primary);
}

.btn-outline-primary:not(:disabled):not(.disabled).active > a, 
.show > .btn-outline-primary.dropdown-toggle > a {
    color: #fff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--color-button-primary);
    border-color: var(--color-button-primary);
}

.btn-outline-secondary {
    color: var(--color-button-primary);
    border-color: var(--color-button-primary);
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: var(--action-color--hover);
    border-color: var(--color-button-primary);
}
.btn-outline-primary:hover a,
.btn-outline-secondary:hover a{
    color: #fff;
}

.btn:not(.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark):hover {
    opacity: var(--opacity-hover);
}
.btn.rounded {
    border-radius: 50px !important;
}
.btn.rounded-left  {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}
.btn.rounded-right  {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
.btn.clear::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f00d";
    margin-right: 0.5rem;
} 

.btn.clear:hover,
.btn.clear:active,
.btn.clear:focus {
    text-decoration: none;
    color: var(--action-color--hover);
}


.theme-nada-2 .btn-group-sm>.btn, 
.theme-nada-2 .btn-sm {
    padding: 0.25rem 1rem;
}
/* Hover the inputs */

.form-control:hover {
    border-color: var(--color-button-primary);
}

.badge-primary {
    background-color: var(--color-badge-primary);
}

.badge-secondary {
    background-color: var(--color-badge-secondary);
}
.badge-success {
    background-color: var(--color-badge-success);
}
.badge-danger {
    background-color: var(--color-badge-danger);
}
.badge-warning {
    background-color: var(--color-badge-warning);
}
.badge-info {
    background-color: var(--color-badge-info);
}
.badge-light {
    background-color: var(--color-badge-light);
}
.badge-dark {
    background-color: var(--color-badge-dark);
}
.badge-featured {
    background-color: var(--color-badge-featured);
}


.wb-badge-outline {
    background-color: #ffffff;
    color: var(--wbg-lightgray);
    border: 1px solid var(--wbg-lightgray);
}
.wb-badge-outline.badge-primary {
    color: var(--color-badge-primary);
    border-color: var(--color-badge-primary);
}
.wb-badge-outline.badge-secondary {
    color: var(--color-badge-secondary);
    border-color: var(--color-badge-secondary);
}
.wb-badge-outline.badge-success {
    color: var(--color-badge-success);
    border-color: var(--color-badge-success);
}
.wb-badge-outline.badge-danger {
    color: var(--color-badge-danger);
    border-color: var(--color-badge-danger);
}
.wb-badge-outline.badge-warning {
    color: var(--color-badge-warning);
    border-color: var(--color-badge-warning);
}
.wb-badge-outline.badge-info {
    color: var(--color-badge-info);
    border-color: var(--color-badge-info);
}
.wb-badge-outline.badge-light {
    color: var(--color-badge-dark);
    border-color: var(--color-badge-light);
}
.wb-badge-outline.badge-dark {
    color: var(--color-badge-dark);
    border-color: var(--color-badge-dark);
}
.wb-badge-outline.badge-featured {
    color: var(--color-badge-featured);
    border-color: var(--color-badge-featured);    
}



/*
 * ======== OVERALL ========
 */

body,
p {
    line-height: 1.65;
    font-size: 1rem;
    font-family: var(--font-family);
}

p {
    padding-top: .2rem;
    padding-bottom: .5rem;
    line-height: 1.75;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-main-dark);
    font-weight: bold;
}

a,
a.link {
    color: var(--color-link);
    transition: all .35s;
}

a h1,
a h2,
a h3,
a h4,
a h5 {
    color: var(--color-link);
}

a:hover,
a.link:hover {
    text-decoration: none;
    color: var(--color-link-hover);
}

img {
    border: var(--border-width) var(--border-color-light) solid;
    border-radius: var(--border-radius);
}

img.plain{
    border: none;
    border-radius: inherit;
}

button,
.btn {
    cursor: pointer;
}

.bg-light {
    background-color: var(--bg-color-light);
}

.site-header {
    margin-bottom: 20px;
}

.wb-label {
    color: var(--color-label) !important;
}

.wb-value {
    color: var(--color-value) !important;
}
.site-header .wb-user-bar {
    /* TODO: Take the comment out when final. #59 */
    /* background: var(--wbg-lightbluegray); */
}

.site-header .navbar-light .navbar-brand {
    display: flex;
}

.site-header .navbar-light .navbar-brand .navbar-brand--logo img {
    border: none;
}

.site-header .navbar-light .navbar-brand .navbar-brand--sitename {
    border-left: 1px solid var(--wbg-lightbluegray);
    margin-left: .8rem;
    padding-left: .8rem;
}

.site-header .navbar-light .navbar-brand .navbar-brand--sitename * {
    display: block;
}

.site-header .navbar-light .navbar-brand .navbar-brand--sitename .nada-site-title {
    margin-bottom: 0.5rem;
}

.site-header .navbar-light .navbar-nav .nav-link {
    color: var(--color-link);
}

.site-header .navbar-light .navbar-brand a.active,
.site-header .navbar-light .navbar-nav .nav-link a.active {
    color: #003456;
    border-bottom: solid 2px #003456;
}

.site-header .nada-logo {
    padding: 0px;
    margin-right: 0px;
    display: inline-block;
}

.site-header .nada-logo img {
    max-width: 165px;
    height: 50px;
}

.site-header .nada-site-title {
    font-size: 1rem;
    font-weight: bold;
}

.site-header .nada-site-subtitle {
    font-size: 0.75rem;
    color: #6c757d;
    margin-top: -10px;
}

.site-header .nada-sitename {
    border-left: solid 1px #bfbfbf;
    padding-left: 15px;
    margin-left: 10px;
    font-size: 16px;
    white-space: initial;
    display: inline-block;
}

.site-header .wb-navbar {
    padding-left: 0;
    padding-right: 0;
}

.site-header .wb-navbar-button-toggler {
    right: 0px;
}

.site-header .wb-login-link {
    z-index: 10000;
    position: relative;
}

.navbar-light .navbar-nav {
    margin-top: -.5rem;
}

/* TODO: Remove: It blocks the pulldowns 
.navbar-light .navbar-nav li.nav-item {
    overflow: hidden;
} */

.navbar-light .navbar-nav .nav-link {
    font-size: 0.85rem;
    margin-left: 1rem;
    font-weight: 700;
    transition: all 0.25s;
    border-top: solid 2px transparent;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-light .navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid var(--color-link);
    background-color: var(--color-link);
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: calc(50% - 4px);
    transition: all 0.25s;
    opacity: 0;
}

.navbar-light .navbar-nav .nav-link.active::after,
.navbar-light .navbar-nav .nav-link:hover::after {
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    border: 1px solid var(--color-link-hover);
    background-color: var(--color-link-hover);
}

.navbar-light .navbar-nav .nav-link.active {
    color: #003456;
    border-top: solid 2px var(--color-link);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-link-hover);
    border-top: solid 2px var(--color-link-hover);
}

.navbar-light .navbar-nav a.dropdown-item {
    color: var(--color-link);
    padding-right: 4rem;
}

.dropdown-item:focus, .dropdown-item:hover,
.navbar-light .navbar-nav a.dropdown-item:hover {
    background: none;
    color: var(--color-link-hover);
}

.dropdown-menu {
    background: #FFFFFF;
    border-radius: var(--border-radius-md);
    border-width: 0;
    box-shadow: var(--shadow-dropdown);
}

.dropdown-menu::before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #fff;
    position: absolute;
    top: -.5rem;
    left: calc(50% - .5rem);
}

.dropdown-menu.dropdown-menu-right::before {
    left: calc(80%); 
}


li.nav-item.dropdown .fa,
li.nav-item.dropdown .fas {
    margin-right: .5rem;
}

.sidebar-module {
    padding-top: 16px;
}

.sidebar-module h5 {
    font-weight: bold;
}

.sidebar-module li.nav-item a {
    font-size: 0.75rem;
    color: #333;
    display: block;
    padding: 5px 0px 5px 7px;
    transition: all .25s;
}

.sidebar-module li.nav-item a:hover,
.sidebar-module li.nav-item a.active {
    text-decoration: none;
    background-color: #f2f2f2;
}

.sidebar-module .sidebar-module-nav {
    padding: 0px;
}

.wb--full-width {
    width: 100%;
}

.wb--full-width .nav-item a {
    display: inline-block;
    padding: .5rem 0;
    margin-right: .8rem;
}

.contact-us {
    height: 44px;
    background-color: rgba(211, 211, 211, 0.23);
    padding: 10px;
    position: relative;
    border-radius: 6px;
}

.contact-us .fa.fa-envelope-o {
    display: inline-block;
    position: absolute;
    top: 0px;
    background-color: rgba(51, 51, 51, 0.09);
    left: 0px;
    height: 44px;
    padding: 14px;
}

.contact-us a {
    margin-left: 46px;
    font-size: 0.9rem;
}

.filter-by-access .form-check-label img {
    max-width: 18px;
}

.filter-by-access .form-check-label .form-check-input {
    position: absolute;
    margin-top: .45rem;
}

.sidebar-filter {
    position: relative;
}

.sidebar-filter .form-check {
    margin-bottom: .2rem;
    transition: all .15s;
}

.sidebar-filter .form-check:hover {
    opacity: .7;
}


/*.sidebar-filter span {
    color: #a8a8a8; }
    */

.sidebar-filter .form-check-input {
    position: absolute;
    margin-top: .45rem;
}

.sidebar-filter h6 {
    margin: 0;
}

.sidebar-filter h6 + div {
    margin-top: 1rem;
    margin-bottom: 0;
}

.sidebar-filter .wb-card-footer {
    margin-top: .5rem;
    font-size: .8rem;
}

.sidebar-filter .sidebar-filter-index {
    position: absolute;
    top: 20px;
    background-color: #bfbfbf;
    padding: 2px 6px;
    color: #fff;
    right: 1rem;
    font-size: .8rem;
}

.sidebar-filter .sidebar-filter-entries .items-container{
    max-height: 300px;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}

.sidebar-filter:not(:nth-child(1)) {
    margin-top: 10px;
}

.sidebar-filter-actions {
    padding: 15px;
    background-color: #f3f3f3;
}

.togglable  div.wb-filter-title {
    cursor: pointer;
    transition: all .25s;
}

.togglable div.wb-filter-title:hover {
    color: var(--color-link-hover);
}

.togglable .fa-filter:hover {
    color: var(--color-link-hover);
}

.sidebar-filter .icon-collapsed {
    display: none;
}

.sidebar-filter .collapsed .icon-collapsed {
    display: block;
}

.sidebar-filter .collapsed .icon-expanded {
    display: none;
}

.wb-sidebar-filter-collapse {
    display: none;
}

.sort-results-by {
    margin-top: 20px;
}


/*
* ======== LAYOUT COMPONENTS ========
*/

.nada-pagination {
    margin: 10px 0 40px;
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
}

.pagination-md .page-link {
    padding: .65rem 1.15rem;
}

.wb-list-row,
.citation-row,
.survey-row {
    padding-bottom: 0.8em;
    position: relative;
    transition: all .35s;
    padding: 1rem;
    border-bottom: 1px solid var(--wbg-lightbluegray);
    border-radius: var(--border-radius-md);
}

.wb-list-row:last-child,
.citation-row:last-child,
.survey-row:last-child {
    border-bottom: none;
}

.citation-row:hover,
.survey-row:hover {
    opacity: .8;
    background-color: var(--wbg-lightbluegray);
}

.citation-row h2,
.citation-row h3,
.survey-row h2,
.survey-row h3 {
    margin-top: 10px;
}

.citation-row .study-country,
.survey-row .study-country {
    font-weight: bold;
}

.citation-row .owner-collection,
.survey-row .owner-collection {
    font-size: 0.75rem;
}

.citation-row .survey-stats,
.survey-row .survey-stats {
    font-size: 0.8rem;
    /* opacity: .7; */
}

.citation-row .survey-stats > span,
.survey-row .survey-stats > span {
    display: inline-block;
    margin-right: .5rem;
}

/* Bootstrap Lists  */
.list-group-item,
.list-group-flush .list-group-item {
    border-color: var(--wbg-lightbluegray);
    border-radius: var(--border-radius-md);
}
.list-group-item:first-child,
.list-group-flush .list-group-item:first-child {
    border-top: none;
}

.list-group-item:last-child,
.list-group-flush .list-group-item:last-child {
    border-bottom: none;
}

.list-group-item:hover,
.list-group-flush .list-group-item:hover {
    opacity: .8;
    background-color: var(--wbg-lightbluegray);
}

.featured-study {
    border: 1px solid #FFF1D3;
    background-color: #FFFBE5;
    position: relative;
    padding: 24px 20px 20px 20px;
    overflow: hidden;
}

.featured-study .featured-study-tag {
    position: absolute;
    top: 16px;
    right: -30px;
    border-radius: 0;
    padding: 12px 28px;
    transform: rotate(45deg);
}

.featured-study .featured-study-tag-left {
    left: 0px;
    right: initial;
    border-radius: 0px 0px 4px 0px;
}

.breadcrumb-path:before {
    content: "»";
    margin: 0 6px;
}

.wb-breadcrumb {
    background: none;
    padding-left: 0;
    font-size: .8rem;
    text-transform: none;
}

.sort-results-by a {
    margin: auto 10px;
}

.active-filters-container {
    margin: 20px 0 30px;
    border-radius: 3px;
    position: relative;
}

.active-filters-container .wb-badge-close {
    padding: 10px 10px;
    margin: 2px 4px 2px 0;
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    transition: opacity 0.35s;
}

.active-filters-container .wb-badge-close:hover {
    opacity: 0.75;
}

.active-filters-container .wb-badge-close .fas {
    position: absolute;
    top: 7px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 3px 4px;
    border-radius: 2px;
}

.active-filters-container .active-filters {
    background: #f3f3f3;
    overflow: auto;
    color: white;
    clear: both;
    padding: 10px;
}

.active-filters-container .active-filters .country {
    background-color: #ababab;
}

.active-filters-container .active-filters .dtype {
    background-color: #919191;
}

.active-filters-container .active-filters .years {
    background-color: #787878;
}

.active-filters-container .active-filters .sk {
    background-color: #5e5e5e;
}

ul.share-bar {
    position: absolute;
    height: 30px;
    width: auto;
    text-align: left;
    right: 15px;
    top: 11px;
    list-style: none;
}

ul.share-bar li {
    display: inline-block;
    margin-left: 1rem;
}

ul.share-bar .fa-facebook {
    color: #3b5998;
}

ul.share-bar .fa-twitter {
    color: #00b6f1;
}

ul.share-bar .fa-linkedin {
    color: #007bb6;
}

ul.share-bar .fa-google {
    color: #df4a32;
}

ul.share-bar .fa {
    transition: all .15s;
}

ul.share-bar .fa:hover {
    opacity: .7;
    transform: scale(1.1);
}


/*
* ======== OVERRIDES ========
*/

.fa.fa-refresh {
    margin-right: 5px;
}

.wb-nav-tab-space {
    margin-top: 3rem;
}

.wb-nav-tab-space .nav-item a.nav-link img {
    width: 1rem;
    margin-right: .5rem;
}

.wb-table-space {
    margin-top: 1rem;
}

.wb-table-img {
    max-width: 100%;
    height: auto;
    margin-top: .8rem;
}

.wb-table-sm {
    font-size: .75rem;
}

.wb-border-left {
    border-left: 1px solid #e8e8e8;
}

.wb-top-space {
    margin-top: 3rem;
}

.wb-top-space-sm {
    margin-top: 1rem;
}

.wb-inline-img {
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.wb-ihsn-sidebar-filter {
    background-color: var(--wbg-lightbluegray);
    padding: .75rem 1rem;
    border-radius: var(--border-radius-md);
}

.wb-nav-link {
    font-size: .75rem;
}

.dropdown-toggle.small i.fa.fa-user-circle-o.fa-lg {
    margin-right: 6px;
}

.wb-tab-heading {
    border-top: 4px solid #0071bc;
    background-color: #f6f6f6;
}

.wb-study-statistics-box {
    background: #eaeaea;
}

.wb-text-link-uppercase {
    text-transform: uppercase;
}

.wb-btn-outline {
    border-color: #0071bc;
}

.wb-btn-outline:hover {
    border-color: #0071bc;
    background-color: #0071bc;
    color: #fff;
}

.wb-btn-outline:hover .fa {
    color: #fff;
}

.btn-outline-primary {
    color: var(--color-link);
}

.btn-outline-primary:hover .fa {
    color: #fff;
}

.wb-btn {
    border-color: #0071bc;
    background-color: #0071bc;
    color: #fff;
}

.wb-btn:hover {
    color: #fff;
}

.wb-fill {
    color: var(--color-link);
}

.wb-fill:hover {
    color: #fff;
}

.wb-question {
    cursor: pointer;
}

.wb-no-show {
    display: none;
}

.page-link {
    color: var(--color-link);
}

h1,
.h1 {
    font-size: 2.0rem
}


/*
* ======== Override theme settings from this point and on ========
*/


/* to add a border radius to an element that currently does not have, comment in the following:

.btn {
  border-radius: .25rem !important;
}

*/


/*
* ======== FOOTER ========
*/

footer {
    margin-top: 60px;
}

footer .full-row-footer-components {
    padding-top: 32px;
    padding-bottom: 16px;
    background-color: #262626;
    margin-left: 0;
    margin-right: 0;
}

footer .full-row-footer-black-components {
    padding-top: 16px;
    padding-bottom: 6px;
    background-color: #000;
    margin-left: 0;
    margin-right: 0;
}

footer .footer hr {
    border-top: 1px solid #787878;
}

footer .footer .footer-menu-item {
    margin-bottom: 2rem;
}

footer .footer .footer-menu-item ul {
    padding: 0;
    list-style: none;
}

footer .footer .footer-menu-item ul li {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 8px 0;
}

footer .footer .footer-menu-item ul li a {
    color: #fff;
}

footer .footer .footer-menu-item ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .footer h4,
footer .footer .footer .ombc-section .ombc-description,
footer .footer .ombc-section .footer .ombc-description,
footer .footer .footer .news-hero-section .news-hero-img-overlay .news-hero-description,
footer .footer .news-hero-section .news-hero-img-overlay .footer .news-hero-description,
footer .footer .footer .highlight_component .highlights-card .highlights-card-block h3,
footer .footer .highlight_component .highlights-card .highlights-card-block .footer h3,
footer .footer .footer .latest-v1-section h3,
footer .footer .latest-v1-section .footer h3 {
    color: #fff;
    margin: 0 0 16px 0;
    text-transform: uppercase;
}

footer .footer .footer-bottom {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #787878;
    display: block;
    width: 100%;
}

footer .footer .list-inline {
    margin-left: 0;
}

footer .footer .list-inline ul {
    padding: 0;
    list-style: none;
}

footer .footer .list-inline ul>li {
    padding: 0;
    line-height: 16px;
    margin: 0 0 8px 0;
}

footer .footer a.disclaimer {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    border-right: 1px solid #fff;
    margin-right: 8px;
    padding-right: 8px;
}

footer .footer a.disclaimer:hover {
    text-decoration: underline;
}

footer .footer a.disclaimer:last-child {
    border-right: 0 solid #d4d4d4;
    margin-right: 0;
    padding-right: 0;
}

footer .footer .footer-copy-right {
    opacity: .5;
}

footer .footer .footer-copy-right p {
    color: #fff;
}

footer .footer .footer-bottom-left ul {
    padding: 0;
    list-style: none;
}

footer .footer .footer-bottom-left ul li {
    align-self: center;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .5;
    margin-left: 8px;
    padding-left: 8px;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership:hover {
    text-decoration: underline;
}

footer .footer .wb-fraud-report {
    color: #fff;
    text-transform: uppercase;
}

footer .footer .wb-fraud-report a {
    color: #fff;
    transition: all .35s;
}

footer .footer .wb-fraud-report a:hover {
    opacity: .8;
}

footer .footer .search-submit-icon {
    position: absolute;
    right: 10px;
    top: 9px;
    height: 20px;
    border-radius: 0;
    z-index: 10000;
}

footer .footer .search-submit-icon {
    position: absolute;
    right: 10px;
    top: 9px;
    height: 20px;
    border-radius: 0;
    z-index: 10000;
}

footer .footer .footer-newsletter {
    margin-bottom: 2rem;
}

footer .footer .social-icon {
    margin-bottom: 2rem;
}

footer .footer .social-icon ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}

footer .footer .social-icon ul li a {
    color: #ffffff;
    background-color: #0275d8;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    justify-content: center;
    align-items: center;
    transition: opacity .25s;
}

footer .footer .social-icon ul li a:hover {
    text-decoration: none;
    opacity: .5;
}


/* variable comparison */

.var-compare-container {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.var-compare-container .compare-header {
    position: relative;
}

.var-compare-container .error {
    font-size: 16px;
    color: red;
    padding: 10px;
    margin: 10px;
}


/* single variable box*/

.var-compare-container .compare-box {
    border-radius: var(--border-radius-lg);
    border: 2px solid var(--wbg-lightbluegray);
    margin: .9rem;
    box-shadow: var(--shadow-card);
}

.var-compare-container .compare-box .compare-box-title {
    background-color: var(--wbg-lightbluegray);
    color: #333333;
    padding: 15px 20px;
    cursor: move;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.var-compare-container .compare-box .var-name {
    padding: .25rem 0;
    float: left;
    font-weight: normal;
    font-size: 28px;
    font: normal normal normal 1rem/1.2rem 'IBM Plex Mono';
}

.var-compare-container .compare-box .var-links {
    float: right;
    font-size: 11px
}

.var-compare-container .compare-box .var-links a {
    font-size: .8rem;
}

.var-compare-container .compare-box .var-links a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f00d";
    margin-right: 0.5rem;
}

.var-compare-container .compare-box .var-links  .btn-outline-primary {
    border: none;
}
.var-compare-container .compare-box-body {
    padding: 15px 25px;
    width: 400px;
}

.var-compare-container .compare-box .survey-link {
    margin-bottom: 10px;
    font-size: small;
}


/*
* ======== MEDIA QUERIES ========
*/


/* Portrait */

@media only screen and (min-device-width: 320px) and (orientation: portrait) {
    ul.footer-ul-links-centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        text-align: center;
        width: 100%;
    }
    .wb-top-space-sm {
        margin-top: .6rem;
    }
    button.navbar-toggler.navbar-toggler-right {
        z-index: 1000;
    }
    ul.navbar-nav.ml-auto {
        position: relative;
        background-color: white;
        z-index: 100;
    }
    .navbar-light .navbar-nav .nav-link.active {
        border: none;
    }
}

.col-sm-12 .share-bar {
    display: none;
}

@media (max-width: 991px) {
    .wb-logo {
        background: url("images/logo-sm.png") no-repeat 0 0;
        width: 30px;
        height: 30px;
        display: block;
        float: left;
        margin: 0 5px 5px 0;
    }
    .wb-logo img {
        display: none;
    }
}

@media (max-width: 767px) {
    h1.desktop-viewport {
        display: none;
    }
    .col-12 .breadcrumb {
        display: none;
    }
    .col-12 .share-bar {
        display: none;
    }
}

@media (min-width: 768px) {
    h1.mobile-viewport {
        display: none;
    }
}

.progress-text {
    margin-left: 5px
}

.contributing-repos h3 {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

.contributing-repos .collection-container .row {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}

.content-unpublished {
    padding: 15px;
    color: white;
    background: red;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* ========= MISC =========== */


/**** data access icons ****/

.icon-da-data_enclave {
    background: url('../images/custom-policy-round-32x32.svg') no-repeat 0 2px;
    width: 12px;
    height: 14px;
    display: inline-block;
    background-size: 12px;
}

.icon-da-direct {
    background: url('../images/direct-download-32.svg') no-repeat 0 2px;
    width: 12px;
    height: 14px;
    display: inline-block;
    background-size: 12px;
}

.icon-da-open {
    background: url('../images/open-data-32.svg') no-repeat 0 2px;
    width: 12px;
    height: 14px;
    display: inline-block;
    background-size: 12px;
}

.icon-da-public {
    background: url('../images/public-use-round-32x32.svg') no-repeat 0 2px;
    width: 12px;
    height: 14px;
    display: inline-block;
    background-size: 12px;
}

.icon-da-licensed {
    background: url('../images/licensed-round-32x32.svg') no-repeat 0 2px;
    width: 12px;
    height: 14px;
    display: inline-block;
    background-size: 12px;
}

.icon-da-remote {
    background: url('../images/external-round-32x32.svg') no-repeat 0 2px;
    width: 12px;
    height: 14px;
    display: inline-block;
    background-size: 12px;
}

.icon-da-data_na,
.icon-da- {
    background: url('../images/not-available-round-32x32.svg') no-repeat 0 2px;
    display: inline-block;
    background-size: 18px;
}


/* catalog listing page */

.survey-row .icon-da {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 48px;
}


/* catalog page - variables found toggle arrows */

.survey-row .variables-found .toggle-arrow-down {
    display: none;
}

.survey-row .expand .toggle-arrow-down {
    display: inline-block;
}

.survey-row .expand .toggle-arrow-right {
    display: none;
}

#surveys .variable-footer {
    display: none;
}

#surveys .expand .variable-footer {
    display: block;
    margin-top: 1rem;
    padding: 5px;
}

#surveys .variables-found .vsearch {
    font-size: 11px;
    color: var(--wbg-gray);
    background: var(--wbg-lightbluegray);
    display: inline-block;
    position: relative;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-bottom: 1rem;
}

#surveys .expand .vsearch-result {
    background: var(--wbg-lightbluegray);
    border: 1px var(--wbg-lightbluegray) solid;
    display: block;
    border-radius: var(--border-radius-md);
    padding: .5rem;
}

#surveys .variables-found .vsearch .heading-text {
    padding: 8px 15px;
}

.toggle-arrow-bg {
    background: #ccc;
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
    overflow: hidden;
}

#surveys .variables-found .vsearch .toggle-arrow {
    font-size: 17px;
    padding: 4px 15px;
    background: #ccc;
    display: inline-block;
}

.var-quick-list-scroll {
    height: 190px;
    overflow: auto;
}


/* condensed table for quick variable list */

.var-quick-list .table td,
.var-quick-list .table th {
    padding: 3px;
    font-size: 12px;
}

.table-condensed td,
.table-condensed th {
    padding: 3px;
}


/* for variable info dialogs */

.catalog-modal-dialog .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.catalog-modal-dialog .modal-body h1 {
    font-size: 22px;
}

.catalog-modal-dialog .modal-body h2 {
    font-size: 18px;
}

.catalog-modal-dialog .modal-body .var-breadcrumb {
    display: none;
}

.catalog-modal-dialog .modal-body .table td,
.catalog-modal-dialog .modal-body .table th {
    padding: 3px;
    font-size: 12px;
}


/* study info */

.xsl-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #363636;
    font-weight: normal;
}

.xsl-subtitle {
    color: #363636;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.metadata-container .field-value {
    padding-top: .2rem;
    padding-bottom: .5rem;
    line-height: 1.75;
}

.xsl-caption {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /*color: #707070 ;*/
    text-transform: uppercase;
    margin-top: 15px;
}

.xsl-text.xsl-country {
    font-weight: bold;
}

.xsl-study-title .xsl-text {
    font-weight: bold;
}

.xsl-warning {
    color: #ff6c00;
    margin: 10px;
}

ul.nada-list-group {
    padding-left: 0px;
    margin-top: 20px;
}

.panel-td h2 {
    font-size: 1.3rem;
}

.panel-td h3,
.panel-td .xsl-subtitle {
    font-size: 1rem;
}

.field-caption {
    font-weight: bold;
}


/* ----------------------- */

.row-color1,
.xsl-table tr:nth-child(even) td,
.varCatgry tr:nth-child(even) td {
    background: #ffffff;
}

.row-color2,
.xsl-table tr:nth-child(odd) td,
.varCatgry tr:nth-child(odd) td {
    background: #f7f7f9;
}

.table-variable-list .row-color1:hover,
.table-variable-list .row-color2:hover {
    background-color: #464a4c6e;
}

.variables-container .pnl-active {
    background: #ced4da;
    border: 0;
    color: #333333;
    font-weight: bold;
}

.pnl-active td {
    border: 0px;
}

.pnl-active a {
    color: #333333;
}

.study-metadata .var-info-panel {
    border: 0;
    background: #f0f0f0;
    border-bottom: 1px solid #dcdcdc;
}

.var-info-panel .panel-td {
    border: 0;
    padding-bottom: 15px;
    padding-left: 20px;
    /*border-left: 2px solid #0088cc;*/
}

.var-info-panel .xsl-caption {
    color: gray;
    font-weight: normal;
}

.variable-container h2 {
    font-size: 1.2rem;
}

.variable-container h3 {
    font-size: 1.1rem;
}

.variable-container h5 {
    font-size: .9rem;
}

.variable-container .wb-variables-export{
    margin: 1rem 0;
}

.variable-container .wb-variables-export .badge{
    color: var(--success-color);
    border: 1px solid var(--success-color);
    padding: 0.55rem .75rem;
    font-size: 1.1rem;
    font-weight: normal;
}

.variable-container .wb-variables-export .badge:hover{
    color: #fff;
    background-color: var(--success-color);
}

.variable-container .sum-stat{
    font-size: .9rem;
}

.variable-container .sum-stat-value {
    font-weight: 600;
}

a.active.page-link {
    background: #0071bc;
    color: white;
}

.variables-container .icon-toggle {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 20px;
}

.variables-container .icon-toggle .expanded_ {
    display: none;
}

.variables-container .pnl-active .icon-toggle .expanded_ {
    display: inherit;
}

.variables-container .pnl-active .icon-toggle .collapased_ {
    display: none;
}

.variables-container .var-row {
    padding: 8px;
    position: relative;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

.variables-container .var-row:hover {
    background: #e9ecef;
}

.variables-container .var-row:hover a {
    color: black;
}

.variables-container .data-dictionary {
    border-top: 2px solid #0071bc;
    border-bottom: 2px solid #0071bc;
    margin-bottom: 15px;
}


/*survey resources summary*/

.study-metadata .resources h3 {
    font-weight: bold;
    padding-top: 10px;
    font-size: 12px;
}

.study-metadata .abstract {
    display: none;
    margin-bottom: 10px;
    background-color: none;
    margin-top: 10px;
}

.study-metadata .resources .alternate,
.resources .resource {
    padding: 10px;
}

.study-metadata .resources .alternate {
    background-color: #f2f2f2;
}

.study-metadata .resources .alternate:hover,
.resources .resource:hover {
    background-color: #fafafa
}

.study-metadata .resources fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    color: #333333;
}

.study-metadata .resources fieldset legend {
    font-weight: bold;
    padding: 0;
    text-transform: capitalize;
    font-size: 15px;
}

.study-metadata .resource-info {
    cursor: pointer;
}

.study-metadata .resource-file-size {
    display: inline-block;
    width: 100px;
    text-align: left;
    color: #999999;
}

.study-metadata .tbl-resource-info {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse
}

.study-metadata .resource-info {
    padding-left: 20px;
}

.study-metadata .active .resource-info {
    font-weight: bold;
    margin-bottom: 10px;
}

.study-metadata .resource .caption {
    color: #898989;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    width: 170px;
}

.study-metadata .resources .resource .icon-collapsed {
    display: none
}

.study-metadata .resources .active .icon-expand {
    display: none
}

.study-metadata .resources .active .icon-collapsed {
    display: inline-block
}

.study-metadata .study-links .link-col {
    margin-right: 10px;
}

.study-metadata-info-bar .wb-table-space td {
    border-top: 0px;
}

.study-metadata-page .dataset-links a {
    color: gray;
}

.study-metadata-page .badge-light {
    background: #f7f7f9;
    font-weight: normal;
    font-size: 12px;
}

.study-metadata-page .page-header {
    border-bottom: 1px solid gainsboro;
}

.study-metadata-page .page-header .nav-tabs {
    border-bottom: 0px;
}

.study-metadata-page .page-header .nav-tabs .active {
    background: white;
    font-weight: bold;
    border-top: 2px solid #0071bc
}

.study-metadata-page .study-metadata-body-content {
    margin-top: 15px;
}

.study-metadata-page .dataset-footer-bar {
    color: gray;
}

.study-metadata-page .collection-thumb-container img {
    width: 100%;
}

.border-top-none {
    border-top: none;
}

.switch-page-size .nada-btn {
    font-size: 12px;
    color: var(--color-link);
    vertical-align: inherit;
    cursor: pointer;
    background: #e9ecef;
    background: var(--wbg-lightbluegray);
    padding: 7px;
    border-radius: var(--border-radius-sm);
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.error p {
    margin: 0px;
    padding: 0px;
    color: #721c24;
}

.lang-container {
    font-size: smaller;
    padding-left: 15px;
}

.lang-container .lang-label {
    border-left: 1px solid gainsboro;
    padding-left: 5px;
    padding-right: 5px;
}


/*
 * Components
 */


/* Feature items */

.wb-features-list .wb-features-item a h5,
.wb-features-list .wb-features-item a .icon-x i {
    color: var(--color-link);
}

.wb-features-list .wb-features-item a p {
    line-height: 1.5;
}

.wb-features-list .wb-features-item a h5 {
    margin-bottom: 0.5rem;
}

.wb-features-list .wb-features-item a:hover p {
    opacity: var(--opacity-hover);
}

.wb-features-list .wb-features-item a:hover h5,
.wb-features-list .wb-features-item a:hover .icon-x i {
    color: var(--color-link-hover);
}

.wb-features-list .wb-features-item a:hover .icon-x i,
.wb-features-list .wb-features-item a .icon-x i:hover {
    /* background: var(--color-link-hover);
    color: white; */
}


/* Search, home */

.card.wb-search {
    background: transparent;
}

.wb-search .wb-controls-wrapper {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));
    /* filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08)), drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12)); */
}
.wb-search input.form-control[type="search"] {
    border-radius: var(--border-radius-buttons);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1rem;
    min-height: 54px;
    border-right-width: 0;
    padding: 0.5rem 1.5rem;
}
.wb-search input#search-keywords.form-control[type="search"] {
    border-color: #ced4da;
}
.wb-search input#search-keywords.form-control[type="search"]:hover {
    border-color: var(--color-button-primary);
}
.wb-search #search-keywords::placeholder {
    color: #6c757d;
}
.wb-search button.wb-btn-icon {
    border-radius: 0;
    font-size: 1rem;
    min-height: 54px;
    border: 1px solid #ced4da;
    border-width: 1px 0 1px 1px 1px;
    background-color: #fff;
    border-right-width: 1px;
}

.wb-search button[type="submit"] {
    border-radius: var(--border-radius-buttons);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1rem;
    min-height: 48px;
    padding: 8px 30px;
}

/* Search, inner pages */
.search-box-container input.search-keywords {
    /* border-radius: calc((2.875rem + 2px)/2); */
    border-radius: var(--border-radius-buttons);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group.search-box-container button[type="submit"],
.input-group.search-box-container>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    /* border-radius: calc((2.875rem + 2px)/2); */
    border-radius: var(--border-radius-buttons);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Hero, home */
.wb-hero .wb-hero--visual img {
    border-radius: 20px;
    max-width: 100%;
}

.wb-hero .wb-hero--message {
    text-align: center;
}

.wb-hero .wb-hero--message h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


/* Search, home */

.wb-library-search {}

.wb-library-search--title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: none;
}
/* Cards */
.card {
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card>img,
.card>a>img {
    border: 0;
    border-radius: 1rem 1rem 0 0;
}

.card p {
    line-height: 1.4rem;
}

.card .card-body p:last-of-type,
.card a p:last-of-type,
.card p:last-of-type {
    margin-bottom: 0;
}

.card.wb-card--solid {
    background-color: var(--bg-color-card-solid);
    border-color: var(--bg-color-card-solid);
    box-shadow: none;
    padding: 2rem;
}

.wb-features-item .icon-x {
    margin-bottom: 20px;
}

.wb-features-item .icon-x img {
    width: 100px;
    height: auto;
}
.wb-features-item p {
    font-size: 0.9rem;
}

/* Search variables */
/* @import url(variables.css); */

/* 
 * Compare Variables 
 */

/* Make variables header sticky */
 .wb-template-blank .site-header {
    position: fixed ;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 100;
  }
 
 .wb-template-blank .wb-page-body.container-fluid {
   margin-top: 250px;
 }
 
 .wb-template-blank .compare-header {
   border-top: 1px solid var(--wbg-lightbluegray);
   position: fixed;
   left: 0;
   right: 0;
   background: #fff;
   top: 71px;
   z-index: 99;
   filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));
 }

 /* TODO: Can we take the "float-left, float-right" classes out? */
.wb-template-blank .compare-header .title{ 
    float: none !important;
}

.wb-template-blank .compare-header .action-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.wb-template-blank .compare-header .action-bar.float-right { 
    float: none !important;
}

.wb-template-blank .compare-header .action-bar .btn-outline-primary {
    border-radius: var(--border-radius-buttons);
    padding: .3rem .6rem;
}

.wb-template-blank .compare-header .action-bar .btn-outline-primary:hover {
    box-shadow: var(--shadow-button);
}


.wb-template-blank .compare-header .action-bar .btn i {
    margin-right: .3rem;
}

.wb-template-blank .compare-header .action-bar .btn.fullscreen  i {
    margin-left: .3rem;
    margin-right: .3rem;
}

.wb-template-blank .compare-header .action-bar .wb-actions-records .btn-outline-primary.clear {
    color: var(--danger-color);
    border-color: var(--danger-color);
}

.wb-template-blank .compare-header .action-bar .wb-actions-records .btn-outline-primary.clear:hover {
    color: #fff;
    background-color: var(--danger-color);
}

.wb-template-blank .compare-header .action-bar .wb-actions-export small {
    color: var(--wbg-lightgray);
}

.wb-template-blank .compare-header .action-bar .wb-actions-export .btn-outline-primary {
    color: var(--success-color);
    border-color: var(--success-color);
}

.wb-template-blank .compare-header .action-bar .wb-actions-export .btn-outline-primary:hover {
    color: #fff;
    background-color: var(--success-color);
}
/* Fullscreen */
body.wb-fullscreen .site-header {
    z-index: 0;
}
body.wb-fullscreen .compare-header h1,
body.wb-fullscreen .compare-header .wb-breadcrumb {
    opacity: 0;
    height: 0;
    margin: 0;
    display:none;
}

body.wb-template-blank .compare-header {
    transition: top 700ms;
}
body.wb-template-blank.wb-fullscreen .compare-header {    
    top: 0;
}
body.wb-template-blank .wb-page-body.container-fluid {
    transition: margin 700ms;
}
body.wb-template-blank.wb-fullscreen .wb-page-body.container-fluid {
    margin-top: 70px;
}
body.wb-template-blank.wb-fullscreen .compare-header .action-bar {
    margin-top: 0;
}
body.wb-template-blank:not(.wb-fullscreen) .btn.fullscreen .fa-compress-alt {
    display: none;
}
body.wb-template-blank.wb-fullscreen .btn.fullscreen .fa-expand-alt {
    display: none;
}
/*
 * Breadcrumbs
 */
 .wb-breadcrumb {}
 .wb-breadcrumb--items {
    font-size: 0;
    padding: 0;
    margin: 0 0 .6rem 0;

 }
 .wb-breadcrumb--item {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: .8rem;
 }
 .wb-breadcrumb--item:nth-child(n+2) {
    margin-left: .3rem;
 }
 .wb-breadcrumb--item:nth-child(n+2)::before{
     content: '/';
     margin-right: .3rem;
 }
