.info-box{
	padding:15px;
	margin-bottom:20px;
	font-size:14px;
	border:1p solid gainsboro;
	background-color:#FFFFCC
}

.contents{
		width:100%;
		min-height: 500px;
	}
.contents .field{
	margin:15px 2px;	
}

div.width p, div.width em {
	margin:0;float:right;font-size:11pt!important;font-style:normal;
}

.field label {
			font-weight: bold;
			font-size: 10pt;
}

.field legend {
	font-size: 10pt !important;
}

.contents label{
		display:block;
		margin:5px 0px;
		padding:3px;
		font-weight:bold;
	}
	
.grid-table td {
		margin: 0;
		padding: 0;
		border-collapse:collapse;
	}
	
.email-fieldset{padding:10px;}
x.email-fieldset .field{margin-bottom:10px;font-size:11px;}
.action{background-color:#EAEAEA;padding:10px; border:1px solid gainsboro;padding-bottom:10px;}
.action label.inline{margin-right:10px;font-weight:bold;display:inline}

.expand a {
  display:block;
  padding:3px 10px;
  background-color:gainsboro;
  text-decoration:none;
  color:black;
}
.expand a:link, .expand a:visited {
  border:1px solid gainsboro;
  background-image:url(images/down.gif);
  background-repeat:no-repeat;
  background-position:99.5% 50%;
}
.expand a:hover, .expand a:active, .expand a:focus {
  text-decoration:underline
}
.expand a.open:link, .expand a.open:visited {
  border-style:solid;
  background:#eee url(images/up.gif) no-repeat 99.5% 50%
}
.collapse{border:1px solid gainsboro;margin-bottom:10px;padding:5px;}

.
.btn-cancel {
	font-size: 10pt !important
}

.highlight {
	background-color:#CFC;
	list-style-image: url(exit.png);
}

.btn-cancel {
	font-size: 9pt !important;
}

td table.left {
	margin:0 0 10px 0!important;
}

.field{font-size: 10pt }
.td-label{font-weight:normal;width:150px;color:#333333;vertical-align:text-top}
.contents legend{font-size:14px;font-weight:bold;padding-top:10px;border-bottom:1px solid gainsboro;margin-bottom:10px;display:block;width:100%;}
.project-summary {padding:5px;margin-top:10px;}
.contents table {width:100%;}
