a:link, a:visited{color:#850000}

.clear-block{clear:both;}
/*global search */
#global-search{float:right;margin:0px;padding:0px;margin-top:30px;border: 1px solid #CCC;width:270px;
background: url(bg-gradients.png) 28% -232px no-repeat;
}
#global-search .search-input {
padding:0px;
margin:0px;
padding-left: 20px;
background: url(sprite.png) 0px -399px no-repeat;
border: 0px;
width: 200px;
outline:none;
height:20px;
float:left;
}

#global-search-button{background: url(sprite.png) 100% -330px no-repeat;
border:0px; 
margin:0px; 
padding:0px;
padding-right:10px; 
text-transform:uppercase;float:right;
width:40px;
height:20px;
outline:none;}

/*global navigation bar*/
#global-navigation{font:arial;}
#global-navigation table{width:100%;background:gray;}
#global-navigation table tr td{height:27px;}
#global-navigation .links li, .links ul{float:left;}
#global-navigation table .home-icon{width:28px;}
#global-navigation table .pri-links{width:717px;border-left:2px solid white;border-right:2px solid white;
background: url(sprite.png) 0px -70px repeat-x;
height: 27px;
}
#global-navigation table .sec-links{
background: url(sprite.png) 0px -100px repeat-x;}

#global-navigation table .pri-links a{padding: 0px 23px 0px 23px;border-right:1px solid #91938c;margin-top:6px;}
#global-navigation table .sec-links a{padding: 0px 23px 0px 23px;border-right:1px solid #6c7163;}
#global-navigation table .pri-links .last a, #global-navigation table .sec-links .last a{border:none;}
#global-navigation a{color:white;text-transform:uppercase;font-size:12px;font-weight:bold;display:block;}
#global-navigation .links a.active {
margin-left:-1px;
background: url(sprite.png) 0px -130px;
border-right: 1px solid #C43;
border-left: 1px solid #C43;
line-height:27px;
margin-top:0px;
}

/* title bar */
#title-bar{
margin-top:10px;
height: 60px;
background: url(sprite.png) 0px -170px repeat-x;
}

#title-bar .site-name {
font-size: 28px;
font-weight: normal;
padding: 0px 15px;
line-height: 60px;
float: left;
}
.site-name a{color:white;}

/*left navigation*/
#sidebar {
width:146px;
}
#sidebar a {
	display:block;
	margin-bottom:0px;
	background-color:#6d6e6a;
	padding-left:12px;
	padding-right:12px;
	padding-top:9px;
	padding-bottom:8px;
	color:#ffffff;
	text-decoration:none;
	border-bottom:1px dotted white;
	font-weight:bold;
	font-size:11px;
}

#sidebar li.selected a{background-color:#c7caba;color:#333333;}
#sidebar a:hover {background-color:#333333;}
#sidebar .last a{border-bottom:0px;}

.yui-t1 #yui-main .yui-b {
	margin-left:12.3077em;
}

.sidebar-wrap{border:1px solid gainsboro;border-top:0px;z-index:-1;}


/*footer-breadcrumbs*/
#footer-breadcrumb{margin-bottom:2px;}
#footer-breadcrumb{
line-height: 35px;
height: 35px;
font-size: 12px;
background: url(sprite.png) 0px -170px repeat-x;
color: white;
}
#footer-breadcrumb .limiter {
line-height: 35px;
height: 35px;
font-size: 12px;
color: white;
float:left;
}
#footer-breadcrumb .toggle{float:right;margin-right:10px;display:block;margin-top:8px;}

#footer-breadcrumb .breadcrumb-link {
float: left;
padding: 0px 20px 0px 15px;
background: url(sprite.png) 100% -290px no-repeat;
}
#footer-breadcrumb,#footer-breadcrumb a {color:white;font-weight:bold;}
#footer-breadcrumb a:hover{text-decoration:underline;}
#footer-breadcrumb .breadcrumb-sep, #footer-breadcrumb .breadcrumb-item{margin-left:10px;display:block;float:left;}
#footer-breadcrumb .breadcrumb-sep{color:silver;font-weight:normal}


/* network footer */
#footer-network .limiter {
height: 40px;
font-size: 11px;
line-height: 20px;
padding-top: 10px;
background: url(sprite.png) 0px -230px repeat-x;
color: #92948C;
}

/* footer-network bank logo */
#footer-network .network-name {
margin: 0px;
overflow: hidden;
text-indent: -999px;
height: 30px;
width: 170px;
padding: 0px;
background: url(sprite.png) 15px -347px no-repeat;
float:left;
}

#footer-network .network-name, #footer-network .footer-nav {
float: left;
}

#footer-network .footer-nav {
border-left: 1px solid #92948C;height:30px;
}

#footer-network li{margin-top:3px;}
#footer-network ul{margin-left:30px;}
#footer-network ul.links li, #footer-network ul.links li a {
float: left;margin-right:10px;font-weight:bold;
}
.footer-links{font-size:12px;}

#footer-network a {
color: #D8DCD4;
}

/*footer links right */
.footer-nav-right{float:right;}
.footer-nav-right a{border-left:1px solid gray;padding-left:15px; text-transform:uppercase;font-size:10px;}
.footer-nav-right .first a{border:none}

#footer-network a:hover{text-decoration:underline;}

/*footer legal*/
#footer-legal{height:30px;margin-top:5px;margin-bottom:25px;font-size:11px;line-height:20px;color: #73746E;}
#footer-legal a{color: #73746E;padding-right:5px;padding-left:5px;}
#footer-legal .first{padding-left:0px;}
#footer-legal .footer-nav-right a, .footer-nav-right{border:none;text-transform:none;text-align:right;padding:0px;float:right;}
#footer-legal a:hover{text-decoration:underline;}

/*footer global links*/
#footer-glob-links{background-color:#e3e6da;margin-top:2px;margin-bottom:4px;clear:both;height:250px;padding-left:5px;padding-top:30px;padding-left:20px;}
#footer-glob-links .columns{float:left;width:123px;color:gray;font-size:11px;padding-right:30px;}
#footer-glob-links a{color:#666666;font-size:11/14; font-weight:normal;line-height:14px;margin-bottom:10px;display:block;}
#footer-glob-links h6 a,#footer-glob-links h6{color:#333333;font-size:11px; font-weight:bold;text-transform:uppercase;margin-bottom:11px;}
#footer-glob-links .border-vert{border-left:1px solid #c6c9bd;padding-left:20px;margin-left:20px;width:100px;}

/*bottom border*/
#ft{
margin-top: 5px;
background: url(bleed_ender.png) 50% 0% no-repeat;
height: 10px;
margin-left:-25px;margin-right:-25px
}

.button, .button:hover,.btn-cancel{margin:0px;padding:0px;cursor:pointer;background:maroon url(btn-bg-sprite.png) repeat-x; outline:none;
color:white;border:0px;
-moz-border-radius:0px;-webkit-border-radius: 0px;
border:1px solid black;
font-weight:bold;
height:21px;padding-left:2px;padding-right:2px;}
.button:hover{background:maroon url(btn-bg-sprite.png) 100% 78px}
.btn-cancel{background:gray url(btn-bg-sprite.png) 100% 50px}
.btn-cancel:hover{silver background:url(btn-bg-sprite.png) 100% 20px}

.light .button, .light .button:hover{background:none;border:none;color:gray;}
.switch-page-size{color:gray;font-size:11px;padding-bottom:15px;}
#page-tools{height:35px;background:url(page-tools.png) right top no-repeat;}


/*jquery tabs*/
.ui-tabs {
	border-top: 2px solid #9D0909;padding:0px;margin:0px;
}
.ui-corner-all {
	-moz-border-radius: 0px/*{cornerRadius}*/;
	-webkit-border-radius: 0px/*{cornerRadius}*/;
}
.ui-tabs .ui-tabs-nav{margin:0px;padding:0px;padding-left:20px;background:none;border-top:none;border-left:none;border-right:none;
}
.tab-heading{text-align:left;font-weight:bold;padding-top:10px;padding-bottom:38px;margin-bottom:-30px;z-index:-1;
background: transparent url(http://localhost/nada3/themes/opendata/sprite.png) repeat-x scroll 0 -500px;
padding-left:20px;
}
ui-state-default, .ui-widget-content .ui-state-default{background:white;}
.ui-tabs .ui-tabs-nav li{font-size:11px;padding-bottom:0px;border:none;position:relative;top:4px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{padding-bottom:0px;border:none;position:relative;top:4px;background:url(tab-active-arrow.png) bottom center no-repeat;}
.ui-tabs .ui-tabs-nav li a{display:block;border:1px solid gray;background:white;margin-bottom:4px;text-transform:uppercase}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{background:url(active-tab-bg.png);color:white;}
	