/*Page Layout based on YUI Grids*/
body, html {
	background-color:#D8DCD0;color:#333;
}
#doc2, #doc4 {
	background-color:white;
}
#custom-doc {
	background-color:white;
	width:73.85em;
	*width:72.07em;
	min-width:960px;
	margin:auto;
	text-align:left;
	padding:23px;
	padding-bottom:0px;
	padding-top:5px;
	background:url("bleed_page.png") repeat-y scroll 50% 0 transparent;
}
#hd{margin-bottom:24px;}
#bd{border:0px;margint-top:10px;clear:both;margin-top:10px;}
#banner {
	padding:15px;
	font-size:1.5em;
	color:white;
	display:inline;
}
z#ft {
	background-color:gray;
	padding:15px;
	text-align:left;
	margin:0px;
	border-bottom:20px solid white;
	color:#CCCCCC
}

/*user login bar */
#user-bar {
	padding:5px;
	text-align:right
}
.user-box{text-align:right;}
.user-box li{display:inline;}
.user-box li a{color:gray;border-left:1px solid gainsboro;padding-left:5px;}
.user-box li a:hover{color:black;}

.site-logo {
	color:gray;
	font-size:18px;
	font-weight:bold;
}
.site-logo img {
	float:left;
}
.site-logo-title {
	float:left;
	padding-top:15px;
	color:#666666
}
#content {
	padding:0px;
	padding-top:0px;
	min-height:400px;
}
#inner-body{border:0px solid gainsboro;}
.menu-horizontal {
	border:1px solid gainsboro;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	height:34px;
	margin-bottom:20px;
	margin-top:0px;
}

/* site general styles */
h1 {
	font-size:26px;
	font-family: Georgia;
}
h2 {
	font-size:22px;
	font-family: Georgia;
	margin-bottom:10px;
}
h3 {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
h4 {
	font-size:1em;
}
p {
	margin-bottom:15px;
	font-size:13px;
	line-height:20px;
	color:#333333;
}

img {
	border:0px;
}
a {
	text-decoration:none;
	color:#003399;
}
a:hover {
	color:#990000;
}

/*Table/Grid style*/
.grid-table tr td {
	padding:5px;
	border-bottom:1px solid #C1DAD7;
}
.grid-table .alternate {
	background-color:#FBFBFB
}
.grid-table a {
	color:#00679C;
	text-decoration:none;
}
.grid-table a:hover {
	color:maroon;
}

/*Button styles*/
.button{padding:1px;margin-top:5px;cursor:pointer;background-color:#6699FF;color:white;border:0px;}
.button:hover{background-color:black;color:white;}

input{padding-left:3px;padding-right:3px;}

/*ordered lists*/
ol{ display: block;margin-bottom:20px; }
ol li{list-style-type:decimal;margin-left:20px;}

/*lsms related styles*/
.highlights, .highlights td {color:gray;font-family: verdana; font-size:11px; line-height:1.5em;}
.lsms p,.lsms ul, .lsms ol{font-size:14px;margin-bottom:10px; color:#333333}
.lsms li li {font-size:14px;}
.lsms li, .lsms ul{margin-left:15px;list-style:disc outside;}
.lsms h1{margin-bottom:15px;}
.lsms ul{display:block;}
.highlights h3{padding:5px;margin:0px;background-color:#CCCCCC;color:#333333;height:32px; overflow:hidden; margin-bottom:5px;}

.button-light {
	border:1px solid gainsboro;
	padding:2px;
	text-decoration:none;
	color:gray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:white;
	display:inline-block
}
.button-light img {
	border:0px;
	vertical-align:bottom;
	padding-right:5px;
}
.button-light:hover {
	border:1px solid black;
	background-color:black;
	color:white;
}
em{font-style:italic;}
strong{font-weight:bold;}