/*data catalog search page*/
#surveys .survey-row {
	margin-bottom:5px;
	border-bottom:1px solid gainsboro;
	padding-bottom:5px;
	padding-top:10px;
	color:#333333;
	padding-left:5px;
	padding-right:5px;
}

#surveys .survey-row:hover {
	cursor:pointer;	
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background: white;
}

/*featured study*/
#surveys .featured_studies .survey-row:hover{
	cursor:pointer;	
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
	background: none;
}

.featured_studies {
	margin-top: 15px;
	margin-bottom: 25px;
	border: 1px solid #FFF1D3;
	background: #FFFBE5;
}

.featured_studies .featured_studies_heading{
	padding:7px; 
	text-transform:uppercase;
	font-size:smaller
}
/*end featured study*/

#surveys .survey-row .title {
	font-size:16px;
	color:#993300;
	padding-bottom:2px;
	font-family:Georgia, "Times New Roman", Times, serif
}
#surveys .survey-row .sub-title {
	font-size:12px;
	color:#666666
}
#surveys {
	margin-top:20px;
}
#surveys .survey-icons {
	padding-top:10px;
	font-size:12px;
}
#surveys .survey-icons span {
	margin-right:8px;
}
#surveys .survey-icons span img {
	padding-right:1px;
	vertical-align:bottom
}
#surveys .survey-icons a {
	color:gray;
}
#surveys .survey-icons a:hover {
	color:#CC3300
}
#surveys a:link {
	color:#039
}
#surveys a:hover {
	text-decoration:underline
}
#surveys .pagination {
	background-color:gainsboro;
	font-size:12px;
	text-align:left;
	padding:5px;
}
#surveys .pagination a:hover {
	color:white;
	background-color:gray;
}
#surveys .pagination strong {
	color:black;
	font-weight:bold;
	background:gainsboro;
}
#surveys .variables-found {
	margin-top:10px;
	padding:0px;
	outline:none;
	border:1px solid gainsboro;
}
#surveys .variables-found .vsearch:hover{background:black;color:white;}
#surveys .variables-found .vsearch{	background:#666666;color:white;display:block;padding:5px;}
#surveys .variable-footer{display:none;}
#surveys .expand .variable-footer{display:block;margin-top:5px;padding:5px;background:gainsboro;}


.catalog-sort-links {
	font-weight:normal;
	color:#666666;
	padding-bottom:5px;
}
.catalog-sort-links a {
	margin-right:5px;
	font-size:11px;
	font-weight:normal;
	color:#666666
}
.catalog-sort-links a:hover {
	color:#CC3300
}
.catalog-sort-links a.selected {
	font-weight:bold;
}

.ui-widget-content{background:none;}
.ui-accordion .ui-accordion-header a{padding-top:2px;padding-bottom:2px;font-size:12px;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#666666;font-weight:normal;}

.input{background-color:white;border:1px solid gainsboro;font-size:14px;}
.checkboxes{font-size:12px;font-weight:normal;}

.topic-container {padding-top:10px;}
.topic-items{background:white;display:inline;list-style:none;padding:0px;margin:0px;}
.topic-items li{padding:0px;margin-left:15px;}
ul.topic, li.topic{list-style:none;}
.topic-heading{font-weight:bold;display: inline-block;overflow:hidden;border:1px soild red;}
.topics-container .topic{font-weight:normal;margin-left:15px;color:black;}

.disabled {color:silver;}

div.left {
	width: 46%;
	float: left;
	margin-right:5px;
	margin-bottom:5px;
}
#search_form label{padding-left:2px;}
.variable-search label{padding-right:5px;}

.ui-accordion .ui-accordion-content{padding:5px;}
.variable-search{font-weight:normal;color:black;font-size:12px;}
.vsearch-result{display:none;}
.page-link{font-size:18px;}


.survey-row {
	overflow: hidden;
}

.survey-row .left {
	width: 90%;
	float: left;
}

.survey-row .right {
	float: right;
}

.da-legend img{vertical-align:bottom;border:0px}
.da-legend span{margin-right:10px;color:gray;font-size:11px;}
.da-legend{padding-top:10px;}
.switch-page-size .btn{font-size:bold;}
.switch-page-size .btn:hover{cursor:pointer;color:black;}

.search-buttons .btn-cancel{border: 1px solid gainsboro;
padding: 2px;
text-decoration: none;
color: gray;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: white;
display: inline-block;}
.search-buttons .btn-cancel:hover{background-color:gray;color:white;border-color:gray;}
.search-buttons .button {background-color:#036;border-color:#036;color:white;}





/*jquery ui dialog style overrides*/
.ui-dialog{
	width: 722px;
	top: 276px;
	left: 425px;
	display: block;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background: white;
}

.ui-dialog .ui-dialog-titlebar {
	border-radius: 0px;
	background-color:white;
	background: url(sprite_bgs.png) 100% 74%;
	border: 0px;
	text-align: left;
	margin-bottom: 10px;
	height: 35px;
	height: 1;
	padding-top: 31px;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 15px;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}

.ui-dialog .ui-dialog-title {
	font-size: 1.5em;
	font-weight: normal;
}


.ui-dialog #dialog-modal.ui-dialog-content{
	overflow:hidden;
}

/*sub title div for showing selection */
.ui-dialog-subtitle{
	text-align:left;
	position:absolute;
	top:5px;
	right:50px;
	font-size:12px;
	color:gray;
	display:block;
}

/*country selection tabs*/
#tabs{border:0px;}

#tabs .ui-widget-header {
	border: 1px solid #AAA/*{borderColorHeader}*/;
	color: #222/*{fcHeader}*/;
	font-weight: bold;
	background: white;
	border: none;
	border-bottom: 1px solid gainsboro;
	border-radius: 0px;
}

.ui-dialog .ui-tabs .ui-tabs-panel {
	padding:0em;
}
/*add space before the tabs start*/
#tabs .ui-widget-header{
	padding-left:20px;
}

.ui-dialog .ui-dialog-buttonpane {
	margin: 0px;
	border:0px;
}

.ui-dialog .ui-dialog-buttonpane button {
font-size: smaller;
}

/*tabs font size*/
.ui-tabs .ui-tabs-nav li{
	font-size:smaller;
	border-radius:0;
	outline:0
}
.ui-dialog input{outline:0}

#country-dialog-modal{overflow:hidden;}


/* styles for the data catalog search boxes*/
.filter-box{
	border:1px solid gainsboro;
	margin-bottom:10px;
	padding:5px;
	background-color:#F1F1F1;
	position:relative;
}
.filter-box h3{margin-bottom:10px;}

.filter-box .btn-search{
	border: 1px solid navy;
	color: white;
	padding: 2px 5px;
	font-size: small;
	background-color: navy;
	background: url(btn-bg-sprites.png) 100% 0%;
	cursor:pointer
}
.filter-box .btn-search:hover{
	border: 1px solid navy;
	color: white;
	padding: 2px 5px;
	font-size: small;
	background-color: gray;
	background: url(btn-bg-sprites.png) 100% 66%;
	cursor:pointer
}

.filter-box .clear-filter{position:absolute;right:0px;top:0px;display:block;padding:5px;font-size:smaller;}
.filter-box {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: 0 1px 0 rgba(101, 101, 101, .1);
	-moz-box-shadow: 0 1px 0 rgba(101,101,101,.1);
	box-shadow: 0 1px 0 rgba(101, 101, 101, .1);
	background-color: #F8F8F8;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 1px;
	position: relative;
}
.filter-box .count{font-size:smaller;color:#666666}
.filter-box .item{line-height:140%;font-size:12px;}
.filter-box .filter-footer{margin-top:10px;border-top: 1px solid gainsboro;padding-top: 5px;}
.filter-box .btn-select{border:0;font-size:12px;color:navy;background:none;cursor:pointer;outline:none;display:inline;padding:5px;}
.filter-box .btn-select:hover{color:red;text-decoration:underline}

/*styles for the active filter tags*/
.active-filters-container{border:1px solid gainsboro;overflow:auto;clear:both;margin-bottom:30px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;position:relative;}
.active-filters-container .active-filters{overflow:auto;clear:both;padding:0px 10px;}
.active-filters-container .clear-search {
position: absolute;
right: 77px;
top: 1px;
font-weight: normal;
padding: 5px;
}
.active-filters .remove-filter{
	display:block;
	float:left;
	border:0px;
	padding:3px;
	margin-right:5px;
	padding-right:20px;
	background:url(icon-close.png) no-repeat 98% 50%; 
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-bottom:5px;
	background-color:#F8F8F8;
	color:white;
}

.active-filters .remove-filter:hover{background-color:#000000;cursor:pointer}
.active-filters-container .filter-action-bar {
padding: 5px;
overflow: auto;
position: absolute;
top: 0px;
right: 0px;
}
.active-filters-container .filter-action-bar a{display:block;float:left;margin-right:5px;}
.active-filters-container .filter-action-bar .right{float:right;}
.active-filters-container .search-count{padding:10px;font-size:16px;}

.active-filters .sk,.active-filters .vk{background-color:#438F2B;}
.active-filters .dtype{background-color:#7ACA1A}
.active-filters .years{background-color:#78808A}
.active-filters .collection{background-color:#606FBE}
.active-filters .country{background-color:#F1A646}
.active-filters .topic{background-color:#7ACA1A}

.filter-box .more{display:none;}
/*.filter-box .scrollable{height:150px;overflow:auto;}*/

.ui-dialog .collections-container .collection .repo-title{font-weight:bold;}
.ui-dialog .collections-container .collection .repo-short-text{color:#999999;margin-bottom:10px;}


/*data catalog survey list style*/
#surveys {margin-top:0px;}
#surveys .survey-row{
	padding-left:100px;
	position:relative;
}

#surveys .data-access-icon{
	position:absolute;
	height: 82px;
	width:82px;
	top:0px;
	left:10px;
}

#surveys .data-access-direct {
	background: url(data-access.gif) no-repeat 0% 0%;
}

#surveys .data-access-public {
	background: url(data-access.gif) no-repeat 0% 16%;
}

#surveys .data-access-licensed {
	background: url(data-access.gif) no-repeat 0% 33%;
}

#surveys .data-access-remote {
	background: url(data-access.gif) no-repeat 0% 50%;
}

#surveys .data-access-data_na {
	background: url(data-access.gif) no-repeat 0% 67%;
}

#surveys .data-access-data_enclave {
	background: url(data-access.gif) no-repeat 0% 84%;
}

#surveys .data-access-open {
	background: url(data-access.gif) no-repeat 0% 100%;
}


#surveys .survey-row h2.title{margin-bottom:0px;font-size:20px;}
#surveys .survey-row .sub-title{margin-top:10px;}
#surveys .study-country{font-size:16px;}

/*filter by data access*/
.filter-da .da .chk-da{padding-right:16px;}
.filter-da table .da-icon-small{width:20px;height:20px;display:block;margin-left:5px;margin-right:5px;}
.filter-da table .da-direct{background: url(data-access-small.gif) no-repeat 0% -1px;}
.filter-da table .da-public{background: url(data-access-small.gif) no-repeat 0% -27px;}
.filter-da table .da-licensed{background: url(data-access-small.gif) no-repeat 0% -50px;}
.filter-da table .da-remote{background: url(data-access-small.gif) no-repeat 0% -73px;}
.filter-da table .da-no_access{background: url(data-access-small.gif) no-repeat 0% -99px;}
.filter-da table .da-enclave{background: url(data-access-small.gif) no-repeat 0% -122px;}
.filter-da table .da-open{background: url(data-access-small.gif) no-repeat 0% -146px;}
.filter-da table tr{vertical-align:top}
.da-public{background: url(data-access-small.gif) no-repeat 0% 78%;display:block;width:16px;height:16px;}

/*faceted search box styles*/
#facets .select-specific{margin-top:10px;margin-bottom:10px;font-size:12px; }
#facets .any{font-weight:bold;margin-bottom:10px}

.items-container .item{margin:0px;padding:0px;margin-bottom:3px;}
.items-container .item input{float:left;}
.items-container .item label { display: block; margin-left: 16px; }


#facets .inactive{display:none;}
#facets .scrollable{height:180px;overflow:auto;}
#facets .selected-items-count{background:gainsboro;padding:2px 5px;position:absolute;top:5px;right:5px;font-size:11px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#facets .search-help{
	padding:2px 5px;position:absolute;top:5px;right:5px;font-size:11px;cursor:pointer;
}

/*selection dialog box*/
.container{text-align:left;font-size:12px;}
.container .index{margin:5px;text-align:center;line-height:150%;}
.container .index span.active{margin-right:5px;padding:3px;font-size:smaller;white-space: nowrap;cursor:pointer;color:navy;}
.container .index span.in-active{margin-right:5px;padding:3px;font-size:smaller;white-space: nowrap;cursor:pointer;color:gainsboro;}
.container .index span.active:hover{color:red;}
.container .rows-container{height:280px;overflow:scroll;overflow-x:hidden;border:1px solid gainsboro;}

.container .row{margin:5px;clear:both;overflow:auto;padding:5px;border-bottom:1px solid gainsboro;}
.container .row .col-1{float:left;width:200px;font-weight:bold;font-size:14px;}
.container .row .col-2{float:left:overflow:auto;margin-left:200px;}
.container .row .col-2 .item{float:left;width:200px;}

.container .row .col-1 .parent{float:left;width:20px;}
.container .row .col-1 label{float:left;width:150px;}

.container .row .col-1-s{float:left;width:60px;font-weight:bold;font-size:14px;}
.container .row .col-2-s{float:left:overflow:auto;margin-left:65px;}
.container .row .col-2-s .item{float:left;width:200px;}

.container .row .count{color:#999999}

.container .row .col-2 .item{margin:0px;padding:0px;margin-bottom:3px;}
.container .row .col-2 .item input{float:left;}
.container .row .col-2 .item label { display: block; margin-left: 16px; }
.items-container .nopad label{margin-left:0px;}

.container .rows-container .chk-item{margin-right:5px;line-height:140x;}
.container .rows-container .item{line-height:150%;}


/*topics dialog*/
.topics-container .row .col-1{width:250px;font-size:inherit}
.topics-container .row .col-2{margin-left:260px;}
.topics-container .row .col-2 .item{width:100%;}
.topics-container .rows-container{height:350px;}

/*collections dialog*/
.collections-container .row .col-1{width:250px;font-size:inherit}
.collections-container .row .col-2{margin-left:260px;}
.collections-container .row .col-2 .item{width:100%;}
.collections-container .rows-container{height:350px;}


/*show as link*/
.link{color:#0A2F8F;cursor:pointer;}
.link:hover{color:red;}


/*data catalog pager*/
#surveys  .pager{padding:5px;}
#surveys .pager .page{padding:2px 5px 2px 5px;margin:3px;border:1px solid gray;background:white;}
#surveys .pager a.active{border:2px solid black;background:gray;color:white;}
#surveys .survey-stats{margin-top:10px;font-size:11px;color:#666666}
#surveys .survey-stats span{margin-right:15px;}
#surveys .pager .page:hover{text-decoration:none;}
#surveys .pager .last,
#surveys .pager .first{}

/*variable row hover*/
.variable-list .vrow:hover {
	cursor:pointer;	
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background:#EEEEEE;
	color:#0A2F8F;
}

.var-quick-list-scroll{height:190px;overflow:auto;}

/*variable formatting in jquery ui dialogs*/
.ui-dialog-content{text-align:left;}
.ui-dialog-content .xsl-title{font-size:18px;font-weight:bold;margin-bottom:15px;}
.ui-dialog-content .variable-name{display:none;}
.ui-dialog-content .xsl-subtitle{font-size:14px;font-weight:bold;border-bottom: 2px solid gray;}
.ui-dialog-content .var-category-container {
margin-top: 10px;
border: 1px solid #EEEFE9;
}
.ui-dialog-content .varCatgry {
width: 100%;
}
.ui-dialog-content .varCatgry td, 
.ui-dialog-content .varCatgry th {
font-size: 11px;
padding: 0px;
padding-left: 5px;
}

.ui-dialog-content .var-category-title{background:gainsboro;padding:5px;}
.ui-dialog-content .xsl-caption {
font-size: 12px;
line-height: 16px;
font-weight: bold;
color: black;
white-space: nowrap;
margin-top: 10px;
text-transform: uppercase;
}
.ui-dialog-content td .content{line-height:160%;margin-bottom:20px;}
.ui-widget-content a,
.ui-widget-content .data-file-row a,
.ui-widget-content .data-file-row td a {color:#0A2F8F}
.ui-widget-content a:hover{color:black}

.survey-row a:visited{color:#357EC7;}

/*study info -related ciations*/
.related-citations .sub-title{font-style:italic;}
.related-citations .citation-rows .alternate{background:#F5F5F5}
.related-citations .citation-row:hover {
	cursor:pointer;	
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background: white;
	z-index:100;
}
.related-citations .citation-row{position:relative;clear:both;overflow:hidden;padding:10px;}
.related-citations .citation-row .page-num{width:40px;float:left;display:block;height:20px;color:grainsboro;}
.related-citations .citation-row .row-body{float:left;width:90%;overflow:hidden;font-size:12px;}
.related-citations .sort-links {float:left;width:65%;text-align:left;}
.related-citations .sort-links a{font-size:small;margin-right:6px;}

.btn-central-catalog{background:url(back.gif) no-repeat;padding-left:40px;padding-top:5px;padding-bottom:5px;font-size:18px;display:block;}

/*data access help page*/
.da-help label{font-weight:bold;}
.da-help .description{color:#333333;margin-bottom:10px;}

/* -- study info page -- */

/*ui tabs data access - study info */
.ui-tabs li a .get-microdata{display:block;width:20px;height:16px;float:left;margin-right:5px;}
.ui-tabs .da-icon-small{width:20px;height:20px;display:block;margin-left:0px;margin-right:5px;}
.ui-tabs .da-direct{background: url(data-access-small.gif) no-repeat 0% 2%;}
.ui-tabs .da-public{background: url(data-access-small.gif) no-repeat 0% 18%;}
.ui-tabs .da-licensed{background: url(data-access-small.gif) no-repeat 0% 34%;}
.ui-tabs .da-remote{background: url(data-access-small.gif) no-repeat 0% 50%;}
.ui-tabs .da-data_enclave{background: url(data-access-small.gif) no-repeat 0% 98%;}
.ui-tabs .da-open{background: url(data-access-small.gif) no-repeat 0% 99%;}

/*grid/table listing format*/
.study-metadata   table.survey-info{width:550px;float:left;}
.study-metadata  .grid-table tr td{padding:5px;border-bottom:1px solid #C1DAD7;}
.study-metadata  .grid-table .alternate{background-color:#FBFBFB}
.study-metadata  .grid-table a{color:#00679C;text-decoration:none;}
.study-metadata  .grid-table a:hover{color:maroon;}
.study-metadata  .table-heading-cell{font-weight:bold;font-size:12px;border-bottom:2px solid #CFD9FE;}
.study-metadata  .table-row-alternate{background:#F7F7F7}
.study-metadata  .table-cell,.table-cell-alternate{padding:5px;border-bottom:1px solid #F7F7F7;}
.study-metadata  .table a{text-decoration:none;color:#003366}
.study-metadata  .table a:hover{text-decoration:underline;color:black}
.study-metadata  .links img ,.content-container img {vertical-align:bottom;}
.study-metadata  .link-col {float:left;display:block;margin-right:10px;}
.study-metadata  .link-col-2{float:left;display:block;}
.study-metadata  .es td{background-color:#EAEAEA}
.study-metadata  .grid-table td {vertical-align:top;}

/*survey resources summary*/
.study-metadata  .resources h3{font-weight:bold;padding-top:10px;font-size:12px;}
.study-metadata  .abstract{display:none;margin-bottom:10px;background-color:none;}
.study-metadata  .resources .alternate, .resources .resource{border-bottom:1px solid #C1DAD7;padding:5px;width:98%;}
.study-metadata  .resources .alternate{background-color:#FBFBFB;}
.study-metadata  .resources .alternate:hover, .resources .resource:hover{background-color:#EAEAEA}
.study-metadata  .resources fieldset {border:0px;border-top:4px solid gainsboro;margin:0px;padding:0px;margin-top:20px;margin-bottom:10px;padding-top:5px;color:#333333;font-size:12px;}
.study-metadata  .resources fieldset legend{font-weight:bold;;padding:5px;text-transform:capitalize;margin-left:10px;}	
.study-metadata  .resource-info{cursor:pointer;}
.study-metadata  .resource-right-col{float:right;font-size:11px;width:15%;}
.study-metadata  .resource-left-col{float:left;width:85%;}
.study-metadata  .resource-file-size{display:inline-block;width:100px;text-align:left;color:#999999;}
.study-metadata  .tbl-resource-info{padding:0px;margin:0px; border-collapse:collapse}
.study-metadata  .resource-info{padding-left:20px;background:url("../../images/blue-add.png") no-repeat left top;}
.study-metadata  .active .resource-info{font-weight:bold;margin-bottom:10px;background:url('../../images/blue-remove.png') no-repeat left top;}
.study-metadata  .resources .active{border:1px solid gainsboro;margin-bottom:20px;}
.study-metadata  .resource .caption{font-weight:bold;}

/*study info - stats */
.study-metadata .study-statistics-box{
	height: 200px;
	width: 218px;
	float: right;
	padding: 2px;
	color: #666;
	font-size: 11px;
}

.study-metadata .study-statistics-box table td{padding:4px;padding-top:7px;}
.study-metadata .grid-table .no-border td{border:none;}
.study-metadata .collection-thumb-container{margin-top:5px;height:100px;width:100px;float:left;margin-right:20px;overflow:hidden;border:1px solid gainsboro;background-color:#999999}
.study-metadata .sep{padding-right:10px;border-right:1px solid gainsboro;}
.study-metadata .collection{padding-bottom:3px;}

/* --study-info-tab-pages-- */
.study-metadata .tab-heading {
	text-align: left;
	padding: 10px;
	padding-bottom: 40px;
	z-index: -1;
	background-color:#F3F3F3;
	/*background: transparent url(tab-bg.png) repeat-x scroll bottom;*/
	padding-left: 20px;
	border:1px solid gainsboro;
	font-size:small;
}

.study-metadata .ui-tabs-panel{
background:white;border:1px solid gainsboro;overflow:auto;border-top:0px;
}

.study-metadata .ui-tabs-nav li.ui-state-active {
position: relative;
background:gray;
background: url(tab-active-arrow.png) bottom center no-repeat;
}

/*active tab*/
.study-metadata .ui-tabs-nav li.ui-state-active a {
	background: url(active-tab-bg.png);
	color: white;
	margin-bottom:0px;
}

/*set tab borders*/
.study-metadata .ui-tabs-nav li a, 
.study-metadata .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{
	border: 1px solid gainsboro;
	border-bottom: 0px;
	background:white;
	xfont-size:12px;
	padding:5px 10px;
	line-height:140%;
}

.study-metadata .ui-tabs-nav li {border: 0px;}
.study-metadata .ui-tabs-nav li.ui-tabs-active{margin-bottom:-4px;padding-bottom:4px;}
.study-metadata .tab-sidebar{float:left;width:160px;font-size:smaller;border-right:1px solid gainsboro;margin-right:10px;padding-right:10px;}
.study-metadata .page-body h1{margin-bottom:15px;}
.study-metadata .tab-body{font-size:small;margin-left:170px;border-left:1px solid gainsboro;padding-left:20px;}
.study-metadata .tab-sidebar .study-items{text-align:right;}
.study-metadata .tab-sidebar .filetree li a{font-size:11px;}
.study-metadata .tab-sidebar li.item{padding:0px;line-height:150%;background:none;margin-bottom:10px;}
.study-metadata .tab-sidebar li.item a,
.study-metadata .tab-sidebar .filetree li a{color:#0A2F8F;}
.study-metadata .tab-sidebar li.item a:hover,
.study-metadata .tab-sidebar .filetree li a:hover{color:black;}
.study-metadata .tab-sidebar li.sub-item a{font-size:small;}
.study-metadata .tab-sidebar li.sub-item a:hover{color:black;}
.study-metadata .filetree{padding:0px;}
.study-metadata .filetree li{overflow:hidden;}
.study-metadata .dictionary-search{margin-bottom:15px;border:1px solid gainsboro;padding:5px;overflow:auto;}
.study-metadata .dictionary-search .search-keywords{width:105px;border:1px solid gainsboro;margin-right:2px;padding:2px;font-size:11px;margin:0px;float:left;display:block;height:15px;}
.study-metadata .dictionary-search .btn-search{border:0px solid gainsboro;background:gainsboro;float:left;display:block;height:21px;outline:0;margin-left:2px;}
.study-metadata .selected{font-weight:bold;}
.study-metadata .var-info-panel{border:2px solid gray;}

/*citations row number*/
.study-metadata .grid-table .row-num{color:gray;font-size:smaller;}
.study-metadata .ddi-table .data-file-row{cursor:pointer;}
.study-metadata .ddi-table .data-file-row:hover{background:gainsboro;}

.switch-page-size {margin-top:10px;}
.filter-container-heading{display:none;}

/*variable description*/
.var-categories table{border:1px solid gainsboro;}
.var-categories .header th{border-bottom:1px solid gainsboro;padding:5px;}
.var-categories table td{padding:2px;}

.bullet-list {
	margin-left: 20px;
	list-style: outside disc;
	margin-bottom: 15px;
}

.bullet-list li {
list-style: disc;
line-height: 20px;
}