/*Page Layout based on YUI Grids*/
body, html {
	background-color:#D8DCD0;color:#333;
}
#doc2, #doc4 {
	background-color:white;
}
#custom-doc {
	background-color:white;
	width:73.85em;
	*width:72.07em;
	min-width:960px;
	margin:auto;
	text-align:left;
	padding:23px;
	padding-bottom:0px;
	padding-top:5px;
	background:url("bleed_page.png") repeat-y scroll 50% 0 transparent;
}
#bd{border:0px;margint-top:10px;clear:both;margin-top:10px;}
#banner {
background-color: #036;
padding: 15px;
font-size: 1.5em;
color: white;display:block;
}

#ft {
	background-color:gray;
	padding:15px;
	text-align:left;
	margin:0px;
	margin-top:25px;
	border-bottom:20px solid white;
	color:#CCCCCC
}

/*user login bar */
#user-bar {
	padding:5px;
	text-align:right
}
.user-box{text-align:right;}
.user-box li{display:inline;}
.user-box li a{color:gray;border-left:1px solid gainsboro;padding-left:5px;}
.user-box li a:hover{color:black;}

.site-logo {
	color:gray;
	font-size:18px;
	font-weight:bold;
}
.site-logo img {
	float:left;
}
.site-logo-title {
	float:left;
	padding-top:15px;
	color:#666666
}
#content {
	padding:0px;
	padding-top:0px;
	min-height:400px;
}
#inner-body{border:0px solid gainsboro;}

/* site general styles */
h1 {
	font-size:26px;
	font-family: Georgia;
}
h2 {
	font-size:22px;
	font-family: Georgia;
	margin-bottom:10px;
	line-height:120%;
}
h3 {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
h4 {
	font-size:1em;
}
p {
	margin-bottom:15px;
	font-size:1em;
	line-height:20px;
	color:#333333;
}

img {
	border:0px;
}
a {
	text-decoration:none;
	color:#003399;
}
a:hover {
	color:#990000;
}

/*Table/Grid style*/
.grid-table tr td {
	padding:5px;
	border-bottom:1px solid #C1DAD7;
}
.grid-table .alternate {
	background-color:#FBFBFB
}
.grid-table a {
	color:#00679C;
	text-decoration:none;
}
.grid-table a:hover {
	color:maroon;
}

/*Button styles*/
.button{padding:1px;margin-top:5px;cursor:pointer;background-color:#6699FF;color:white;border:0px;}
.button:hover{background-color:black;color:white;}

input{padding-left:3px;padding-right:3px;}

/*ordered lists*/
ol{ display: block;margin-bottom:20px; }
ol li{list-style-type:decimal;margin-left:20px;}

em{font-style:italic;}
strong{font-weight:bold;}

.menu-horizontal {
border: 1px solid gainsboro;
border-top: 0px;
height: 36px;
margin-bottom: 5px;
}
.menu-horizontal li {
list-style: none;
float: left;
padding: 10px;
border-right: 1px solid gainsboro;
}

.site-logo {
color: gray;
font-size: 18px;
font-weight: bold;
}

.breadcrumbs{padding:5px;font-size:14px;margin-bottom:20px;}
.breadcrumbs a,.breadcrumbs span{color:#003399;}
.breadcrumbs .active{color:gray;}

/*----------------------------------------------------------------------------*/

/*licensed request - select_request */
.lic-requests-container {position:relative;}
.lic-requests-container .inline {display:inline;font-size:small;margin-right:15px;}
.lic-requests-container .btn-download-microdata a{padding:5px;background:#048;color:white;display:block;float:left;font-size:small;}
.lic-requests-container .btn-download-microdata a:hover{background:black;color:white;}
.lic-requests-container a.btn-new-request{padding:5px;background:black;color:white;position:absolute;top:5px;right:5px;font-size:smaller;}


/*licensed request application form*/
.data-request-form-container .grid-table td{font-size:1em}
.data-request-form-container .note{background-color:#C1DAD7;}
.data-request-form-container .grid-table .no-wrap{white-space:nowrap}
.data-request-form-container .bull-list{margin-left:10px;}
.data-request-form-container .bull-list li{font-size:small;margin-bottom:8px;line-height:140%;}
/*.public-use td{border:1px solid gainsboro;padding:5px;}*/
.data-request-form-container td .required{color:red;}
.data-request-form-container td .field-caption{font-weight:bold;}

/*remote data access*/
.remote-data-access .remote-access-link{background-color:#F3F3F3;border:1px solid gainsboro;padding:5px;}
.remote-data-access a:link{color:navy;}
.remote-data-access a:link:hover{color:maroon;}


/*tab style 1 - collections, study-info*/
.tab-style-1 .ui-widget{font:13px/1.231 arial,helvetica,clean,sans-serif}
.tab-style-1 .ui-tabs {border:0px;}
.tab-style-1 .tab-heading {
text-align: left;
padding: 10px;
padding-bottom: 40px;
z-index: -1;
background-color:#F3F3F3;
background: transparent url(tab-bg.png) repeat-x scroll bottom;
padding-left: 20px;
border:1px solid gainsboro;
font-size:small;
}
.tab-style-1 .ui-tabs .ui-tabs-nav{border:0px;margin-left:20px;}

.tab-style-1 .ui-tabs .ui-tabs-panel{
background:white;border:1px solid gainsboro;overflow:auto;border-top:0px;
}

.tab-style-1 .ui-tabs .ui-tabs-nav li.ui-state-active {
position: relative;
background:gray;
background: url(tab-active-arrow.png) bottom center no-repeat;
}

/*active tab*/
.tab-style-1 .ui-tabs .ui-tabs-nav li.ui-state-active a {
	background: url(active-tab-bg.png);
	color: white;
	margin-bottom:0px;
}

/*set tab borders*/
.tab-style-1 .ui-tabs .ui-tabs-nav li a, 
.tab-style-1 .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{
	border: 1px solid gainsboro;
	border-bottom: 0px;
	background:white;
	padding:5px 10px;
	line-height:140%;
}

.tab-style-1 .ui-tabs .ui-tabs-nav li {
	border: 0px;
	font-size:13px;
}

.tab-style-1 .ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-4px;padding-bottom:4px;}
.tab-style-1 .tab-body{font-size:small;margin-left:170px;border-left:1px solid gainsboro;padding-left:20px;}
.tab-style-1 .ui-widget-content a:link{color:navy;}


.pagination .page-nums a {border:1px soild black;}

/*login page*/
.login-header{
	clear: both;
	height:60px;
	overflow:hidden;
	background:#000066;
}
.nada-login .login-header .title, 
.nada-login .login-header .title a{
	font-size:18px;color:white;padding:16px;
}
.nada-login .login-box{margin-right:30px;}
.nada-login h1{font-size:16px;font-weight:bold;border-bottom:1px dotted gainsboro;margin-bottom:20px;padding-bottom:5px;}
.reason{font-size:16px;padding:10px;background-color:#FFFFCC;border:1px solid #FFCC66;margin-bottom:40px;}
.privacy-info{font-size:11px; color:#666666;padding:5px;margin-top:20px;}
.login-footer .ot{margin-left:25px;font-size:smaller;}
.login-footer .first{border-right:1px solid gainsboro;padding-right:10px;margin-right:5px;}
