body{font-family:helvetica neue,helvetica,arial,sans-serif}
h1, .page-title{font-size:2em;margin-bottom:15px;}
h2{}
h3{font-size:1.2em;font-weight:bold;margin-top:5px;margin-bottom:5px;}
a{}
a:hover{color:#CC0000}
a:visited{}

h1.heading-with-border{border-bottom:1px solid gainsboro;}

.bull-list{list-style:outside;margin-left:20px;}
.bull-list li{list-style:disc}
