/*colors from: http://www.colourlovers.com/palette/1171298/on_the_road_again.*/
body{font-family:Arial, Helvetica, sans-serif; font-size:.8em;margin:0px;padding:0px;}

/*pane-header - variable information panel*/
.header { 
	background:black url(../img/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
	border-bottom: 0px solid #777;
	font-weight: bold;
	padding: 5px;
	position: relative;
	overflow: hidden;
	color:white;
}

.ui-layout-pane { /* all 'panes' */ 
	padding:		0px; 
	background:		#FFF; 
	border-top:		1px solid #BBB;
	border-bottom:	1px solid #BBB;
	overflow:		hidden;
	}
.ui-layout-pane-north ,
.ui-layout-pane-south {
	border: 1px solid #BBB;
} 
.ui-layout-pane-west {
	border: 1px solid #BBB;
} 
.ui-layout-pane-east {
	border-right: 1px solid #BBB;
} 

/*.ui-layout-pane-center {
	border-left:  0;
	border-right: 0;
	} 
*/	
.inner-center {
	border: 1px solid #BBB;
} 

/*
.middle-west ,
.middle-east {
	background-color: #F8F8F8;
}
*/
/*page backgo*/
.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #DED1C1; 
}
.ui-layout-resizer:hover { /* all 'resizer-bars' */ 
	background: white; 
}

.ui-layout-toggler { /* all 'toggler-buttons' */ 
	background: #AAA; 
} 
.ui-layout-toggler:hover { /* all 'toggler-buttons' */ 
	background: #FC3; 
} 

.outer-center ,
.middle-center {
	/* center pane that are 'containers' for a nested layout */ 
	padding: 0; 
	border: 0; 
} 
.ui-layout-content{padding:10px;}

/*left side bar*/
.left-bar-section{padding:5px;border-bottom:1px solid #BBB;}
.left-bar-section .menu-item{ list-style:none; margin:0px;padding:5px;}
.left-bar-section .menu-item li {
	list-style:none;
	background-image:url("../../images/table.png");
	background-position:right top;
	background-repeat:no-repeat;
	padding-bottom:5px;
	padding-right:20px;	
}

.left-bar-section a{
	color:#CC6600;
	text-decoration:none;
}
.left-bar-section a:hover{color:red;text-decoration:underline}
.left-bar-section a:visited{color:#DFA66F;}

.filetree{font-size:12px;}

/* page header bar*/
.ui-layout-north {background-color:#7F5A47;color:white;font-size:14px;padding:10px;font-weight:bold;border:0px}

.error{background-color:#FFE8EB;color:red; padding:10px;}