body{font-family:Arial, Helvetica, sans-serif; color:#333333}
table {width:100%;}
body,p,table td, table th{font-size:12px;}

/* overview styles */
.xsl-title{font-size:20px;color:#064780;font-weight:bold;margin-bottom:20px;}
.xsl-subtitle{font-size:16px;color:#064780;font-weight:bold;margin-top:15px;border-bottom:1px solid #A0C2DE;}
.xsl-table {border-collapse:collapse}
.xsl-table tr td{padding:5px;font-size:12px;border:1px solid gainsboro;}
.xsl-table tr th{padding:5px;font-size:12px;border:1px solid gainsboro;font-weight:bold;}
.xsl-caption{font-weight:bold;color:#064780;padding-top:10px;}
.xsl-block{margin-top:5px;margin-bottom:5px}

/*variable listing table*/
.table-variable-list, .table-variable-list td{border:1px solid #A0C2DE}
.var-th td{background-color:#A0C2DE}
/*row colors*/
.row-color1{background-color:#EFF8FF;cursor:pointer}
.row-color2{background-color:none;cursor:pointer}
/*row hover*/
.table-variable-list .row-color1:hover, .table-variable-list .row-color2:hover, .row-color1 a:hover{background-color:#064780;color:white;}
.var-link{text-decoration:none;color:black;}
.table-variable-list td{padding:5px;}
table th{text-align:left}

.var-category-container{margin-top:10px;border:1px solid #A0C2DE;}
.var-category-title{padding:5px;background-color:#A0C2DE;color:white;}
.datafile-info{width:100%;background-color:#EFF8FF;}