.page-body
{
	font-size:12px; 
	line-height:140%;
	width:73%;
	border:0px solid gainsboro;
	padding:5px;
	float:left;
	margin-bottom:20px;
	padding-bottom:20px;
}
.ddi-sidebar{
padding: 10px;
float: right;
width: 20%;
border: 1px solid gainsboro;
font-size: 11px;
margin: 5px;
margin-top: 0px;
-moz-border-radius: 10px;
border-radius: 10px;
background-color: #F2F2F2;
}
.ddi-sidebar li, .ddi-sidebar ul, .page-body li{list-style:none;}

/* overview styles */
.xsl-title{font-family:Georgia, "Times New Roman", Times, serif;font-size:20px;line-height:30px;color:#000000;font-weight:bold;margin-bottom:20px;}
.xsl-subtitle{font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;line-height:24px;color:#000000;font-weight:normal;margin-top:15px;border-bottom:2px solid gray}
.xsl-table {border-collapse:collapse;width:100%;}
.xsl-table tr td{padding:5px;font-size:12px;border:1px solid gainsboro;}
.xsl-table tr th{padding:5px;font-size:12px;border:1px solid gainsboro;font-weight:bold;background:rgb(247, 244, 244)}
.xsl-caption{font-family:Arial,Georgia, "Times New Roman", Times, serif;font-size:12px; line-height:16px;font-weight:bold;color:#000000;white-space:nowrap;margin-top:10px;text-transform:uppercase}
.xsl-block{margin-top:5px;margin-bottom:5px}

/*variable listing table*/
.table-variable-list, .table-variable-list td{border:none;font-size:11px;vertical-align:top}
.var-th td{border-bottom:2px solid #d9dccf;font-weight:bold; text-transform:uppercase}
/*row colors*/
.row-color1{background-color:#eeefe9;cursor:pointer;color:#333333}
.row-color2{background-color:none;cursor:pointer;color:#333333}
.row td{border-bottom:1px solid gainsboro;}
/*.row-color1 a, .row-color2 a{color:#333333}*/

/*row hover*/
.table-variable-list .row-color1:hover, .table-variable-list .row-color2:hover, .row:hover{background-color:#d9dccf}
.var-link{text-decoration:none;color:black;}
.table-variable-list td{padding:5px;}

table th{text-align:left}
.var-category-container{margin-top:10px;border:1px solid #eeefe9;}
.var-category-title{padding:5px;background-color:#eeefe9;color:black;}
.datafile-info{width:100%;background-color:#EFF8FF;}
.varCatgry td,.varCatgry th{font-size:11px;padding:0px;padding-left:5px;}
.varCatgry {width:100%;}
.varCatgry th{font-weight:bold;}

.ddi-table{width:100%;}
.ddi-table th, .ddi-table td{padding:5px;}
.ddi-table th{font-weight:bold;border-bottom:2px solid gainsboro;border-top:2px solid gainsboro;}
.ddi-table tr{vertical-align:top;}
.ddi-table .row-color1, .ddi-table .row-color2{cursor:auto}

.var-info-panel .panel-td{border:2px solid gray;margin:5px;}
.pnl-active{background:gray;border:2px solid gray;color:white;}
.pnl-active a{color:white;}
.table-variable-list .pnl-active:hover{background:gray;}
.left-bar-section li{padding:5px;}
li.item{padding-left:20px;background:url("../../images/page_white_text.png") no-repeat left center;}
.left-bar-section .menu-item{margin-left:20px;}

.section-header{border-bottom:0px solid gainsboro;padding-bottosm:5px;}

.data-file-bg1 td{padding-bottom:10px;}
#variable-list h4{font-weight:bold;margin-top:15px;margin-bottom:20px;}

.filetree{padding:5px;padding-left:10px;}

/*variable pagination*/
ul.variable-pager{float:right;}
.variable-pager li{float:left;}
.variable-pager li a, .variable-pager li span{text-transform:uppercase;font-size:11px;padding:3px;border:1px solid gainsboro;margin-left:5px;}
.variable-pager li span{font-weight:bold;background:gainsboro;}
.variable-pager li a:hover{background:black;color:white;}
.variable-pager-container{clear:both;margin-top:5px;}
.table-variable-list .count{font-weight:bold;margin-top:5px;}

.treeview ul {background:none;}
.ddi-var-pager{height:50px}

/*overrides*/
.xsl-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #363636;
    font-weight: normal;
}

.var-info-panel .xsl-title{
    font-size:15px;
    margin-bottom:8px;
}

.xsl-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.var-info-panel .xsl-subtitle{
    font-size:13px;
    margin-left: -0;
    padding-left: 0;
    margin-right: -0;
    padding-right: 0;
    margin-top:8px;
    margin-bottom: 4px;
}

.xsl-caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #707070 ;
    text-transform: uppercase;
	margin-top:15px;
}

.xsl-text.xsl-country{
    font-weight:bold;
}

.xsl-study-title .xsl-text{
    font-weight:bold;
}

.xsl-warning{
    color: #ff6c00;
    margin: 10px;
}

.table-variable-list,
.ddi-table,
.xsl-table,
.varCatgry{
    border-top: 2px solid #dcdcdc;   
    border-bottom: 2px solid #dcdcdc; 
}

/*.table-variable-list tr th,
.table-variable-list tr td,
.ddi-table tr th,
.ddi-table tr td,
.xsl-table tr th,
.xsl-table tr td{
    border:0;
}*/

.table-variable-list tr th,
.table-variable-list tr.var-th td,
.ddi-table tr th,
.varCatgry tr th,
.xsl-table tr.xsl-table-header th
{
    background:#ececec;
    font-weight: bold;
}

.xsl-row .label,
.xsl-row .value{
    display:inline;
    font-size:12px;
}

.xsl-row .label{
    color:#959595;
    margin-right: 4px;
}

.tbl-summary-statis td {
    white-space: nowrap;
    padding-right: 10px;
}

.tbl-summary-statis td .xsl-row {
padding: 3px 0;
}

.row-color1,
.xsl-table tr:nth-child(even) td,
.varCatgry tr:nth-child(even) td{
    background: #ffffff;
}

.row-color2,
.xsl-table tr:nth-child(odd) td,
.varCatgry tr:nth-child(odd) td{
    background: #f2f2f2;
}

.table-variable-list .row-color1:hover, 
.table-variable-list .row-color2:hover, 
.row:hover {
    background-color: #fafafa;
}

.pnl-active {
    background: #fefefe;
    background: #f0f0f0;
    border: 0;
    border-top: 1px solid #dcdcdc;
    color:#333333;
    font-weight:bold;
}

.pnl-active .var-td:first-child{
    border-left: 2px solid #0088cc; 
}

.pnl-active .var-td:first-child::before{
    font-family: FontAwesome;
    content: "\f150";
    width: 14px;
    padding-right: 5px;
}

.pnl-active a {
    color: #333333;
}

.study-metadata .var-info-panel {
    border:0;
    background: #f0f0f0;
    border-bottom: 1px solid #dcdcdc;
}

.var-info-panel .panel-td {
    border: 0;
    padding-bottom: 15px;
    
    padding-left: 20px;
    border-left: 2px solid #0088cc;
}


/*
 * DDI rules for the compare variables 
 */

.variable-content .xsl-title {
    font-size: 18px;
    font-weight: bold;
}
     
.variable-content .xsl-subtitle{
    font-size: 14px;
    margin:15px 0 15px 0;
    padding:0;
    border-bottom: 2px solid #e8e8e8;
}

.variable-content .var-category-container,
.var-category-container{
    border:0;
}

.variable-content .var-category-container .xsl-warning{
    margin: 10px;
}

.var-category-title,
.variable-content .var-category-container .var-category-title{
    font-size:15px;
    background:transparent;
}

.variable-content .var-category-container .varCatgry td, .varCatgry th,
.varCatgry td{
    padding: 5px;
    padding-left: 15px;
}

.variable-content .xsl-caption {
    font-weight: bold;
    color: #464646;
    text-transform: uppercase;
}

.table-variable-list, .table-variable-list td
{
	font-size:12px;
}