body{font-family:Arial, Helvetica, sans-serif}

/* overview styles */
.xsl-title{font-size:18px;color:#CC6600;font-weight:bold;margin-bottom:20px;}
.xsl-subtitle{font-size:16px;color:#CC6600;font-weight:bold;margin-top:15px;border-bottom:1px solid #CC6600;}
.xsl-table {border:0px;}
.xsl-caption{font-weight:bold;color:#CC6600;white-space:nowrap;margin-top:10px;}
.xsl-block{margin-top:5px;margin-bottom:5px}

/*variable listing table*/
.table-variable-list, .table-variable-list td{border:1px solid #DFC9A7}
.var-th td{background-color:#EFD2A4}
/*row colors*/
.row-color1{background-color:#FFF3DF;cursor:pointer}
.row-color2{background-color:none;cursor:pointer}
/*row hover*/
.table-variable-list .row-color1:hover, .table-variable-list .row-color2:hover{background-color:#DFC499}