@charset "utf-8";

img{border:0px;}

/*#surveys .selected{background:black;border:2px solid black;color:white;}*/
#surveys .hide{display:none;}
#surveys .study-info td.study-info-box{border:2px solid black;border-top:none;}

#surveys .row:hover
{background:black;color:white;cursor:pointer}


/*action bar*/
#surveys .action-bar{
	background-color:none;
	margin-top:15px;
}

/*reset ul,li*/
#surveys .action-bar ul{display:inline;list-style:none;padding:0px;margin:0px;}
#surveys .action-bar ul li{display:inline;font-size:11px;color:black;padding:5px;font-weight:bold}
#surveys .action-bar ul li a{margin-right:5px;font-weight:bold;color:black;}
#surveys .action-bar ul li a:hover{color:maroon}

.tbl-survey-info{width:100%;}
.tbl-survey-info .inline-edit{background-color:#DAE8E6}
.tbl-survey-info .alternate{background-color:#E6F0EF}

.icon {width:16px;height:16px;display:inline-block}
.owned{background:url("bullet-green.gif") no-repeat;}
.linked{background:url("../../images/link.png") no-repeat;}

a.mini-button{background:white;padding:5px;display:inline-block;margin:2px;}
a.mini-button:hover{background:black;color:white;}


/*bootstrap overrides*/
.pagination{margin:0}
.row{margin:-left:0;}

h1{font-size:26px;}
h1,h2,h3{line-height:120%;}
.breadcrumb{background:none;font-size:smaller;}
.mini select, .mini .btn{font-size:12px;}

.breadcrumb {
	padding: 8px 0px;
}

.breadcrumbs .active{color:#666666}


/*plupload styles*/
.plupload_button {
	display: -moz-inline-box; /* FF < 3*/
	display: inline-block;
	font: normal 12px sans-serif;
	text-decoration: none;
    color: #42454a;
    border: 1px solid #bababa;
    padding: 2px 8px 3px 20px;
	margin-right: 4px;
    background: #f3f3f3;
	outline: 0;

    /* Optional rounded corners for browsers that support it */
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.plupload_button:hover {
	color: #000;
	text-decoration: none;
}

.plupload_disabled, a.plupload_disabled:hover {
    color: #737373;
    border-color: #c5c5c5;
    background: #ededed;
	cursor: default;
}

.plupload_add {
	background-position: -181px center;
}

.plupload_wrapper {
	font: normal 11px Verdana,sans-serif;
	width: 100%;
}

.plupload_container {
	padding: 0px;
}

.plupload_header {
	background: #2A2C2E;
	display:none;
}

.plupload_header_content {
	min-height: 56px;
	padding-left: 60px;
	color: #FFF;
}
.plupload_header_title {
	font: normal 18px sans-serif;
	padding: 6px 0 3px;
	display:none;
}
.plupload_header_text {
	font: normal 12px sans-serif;
	display:none;
}

.plupload_filelist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.plupload_scroll .plupload_filelist {
	height: 185px;
	background: #F5F5F5;
	overflow-y: scroll;
}

.plupload_filelist li {
	padding: 5px;
	background: #F5F5F5;
	border-bottom: 1px solid #DDD;
	list-style-type: none;
}

.plupload_filelist_header, .plupload_filelist_footer {
	background: #DFDFDF;
	padding: 8px 8px;
	color: #42454A;
}
.plupload_filelist_header {	
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #CDCDCD;
}

.plupload_filelist_footer {border-top: 1px solid #FFF; height: 22px; line-height: 20px; vertical-align: middle;}
.plupload_file_name {float: left; overflow: hidden}
.plupload_file_status {color: #777;}
.plupload_file_status span {color: #42454A;}
.plupload_file_size, .plupload_file_status, .plupload_progress {
	float: right;
	width: 80px;
}
.plupload_file_size, .plupload_file_status, .plupload_file_action {text-align: right;}

.plupload_filelist .plupload_file_name {width: 205px}

.plupload_file_action {
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 15px;
}

.plupload_file_action * {
	display: none;
	width: 16px;
	height: 16px;
}

li.plupload_uploading {background: #ECF3DC;}
li.plupload_done {color:#AAA}

li.plupload_delete a {
	background: url('../../images/delete.gif');
}

li.plupload_failed a {
	background: url(../../'images/error.gif');
	cursor: default;
}

li.plupload_done a {
	background: url('../../images/done.gif');
	cursor: default;
}

.plupload_progress, .plupload_upload_status {
	display: none;
}

.plupload_progress_container {
	margin-top: 3px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1px;
}
.plupload_progress_bar {
	width: 0px;
	height: 7px;
	background: #CDEB8B;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action {
	margin-right: 17px;
}

/* Floats */

.plupload_clear,.plupload_clearer {clear: both;}
.plupload_clearer{
	display: block;
	font-size: 0;
	line-height: 0px;	
	height:1px;
}

li.plupload_droptext {
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 165px;
}


.batch-links{text-align:right;}
.uploader-header{cursor:pointer;}
.state-hidden{display:none;}

.alert{color:black};
