/*data enty form default styles*/
.form-input tr {
	vertical-align:top;
}
.form-input-error {
	color:red;
	font-size:11px;
}
/*pagination*/
.pagination {
	padding:5px;
	color:#666666;
	text-align:right
}
.pagination a, .pagination strong {
	padding: 6px 12px;
	text-decoration:none;
	font-size:14px;
	color: #337ab7;
	border:1px solid gainsboro;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.pagination a:hover {
	background-color:#eee;
	color:#23527c;
}
.pagination strong {
	color:black;
	font-weight:bold;
	background:gainsboro;
}
/*grid/table listing format*/
.grid-table {
	width:100%;
}
.grid-table .header {
	background-color:none;
	text-align:left;
}
.grid-table .header th {
	padding:5px;
	border-bottom:2px solid #C1DAD7;
	border-top:2px solid #C1DAD7;
	font-weight:bold;
}
.grid-table .header a, .grid-table .header {
	color:black;
}
.grid-table tr td {
	padding:10px 5px;
	border-bottom:1px solid #C1DAD7;
}
.grid-table .alternate {
	background-color:#FBFBFB
}
.grid-table a {
	color:#00679C;
	text-decoration:none;
}
.grid-table a:hover {
	color:maroon;
}
.table-heading-row {
}
.table-heading-cell {
	font-weight:bold;
	font-size:12px;
	border-bottom:2px solid #CFD9FE;
}
.table-row {
}
.table-row-alternate {
	background:#F7F7F7
}
.table-cell, .table-cell-alternate {
	padding:5px;
	border-bottom:1px solid #F7F7F7;
}
.table a {
	text-decoration:none;
	color:#003366
}
.table a:hover {
	text-decoration:underline;
	color:black
}
/* search box style for fieldset */
.search-fieldset {
	border:1px solid #DFE6FF;
	margin-bottom:20px;
}
.search-fieldset legend {
	color:#3399CC
}
.page-links {
	text-align:right;
}
.page-links .button:hover{text-decoration:none}
.button {
	border:1px solid gainsboro;
	padding:2px;
	text-decoration:none;
	color:gray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:white;
	display:inline-block
}
.button img {
	border:0px;
	vertical-align:bottom;
	padding-right:5px;
}
.button:hover {
	border:1px solid black;
	background-color:black;
	color:white;
}
/*adim form styles*/
.form {
	border:0px solid red;
	display:block;
	padding:5px;
	margin:0px;
	padding-left:0px;
}
.input-flex,.input-fixed200, .input-fixed300 {
	width:99%;
	padding:2px;
	padding-right:0px;
}

.input-fixed200{
	width:200px;
}
.input-fixed300{
	width:300px;
}


.form .field, .form .field-inline {
	margin-bottom:15px;
}
.form .field label {
	/*display:block;
	font-weight:bold;
	color:#333333*/
}
.form .field-inline label {
	font-weight:bold;
	color:#333333
}
.form .field label.desc {
	font-weight:normal;
	font-style:italic
}
.form .required {
	color:Red;
	padding:2px;
}


.register .input-flex{width:300px;}
/* to show any text as hyper link */
.link {
	color:#0000FF;
	text-decoration:underline;
	cursor:pointer
}
.link:hover {
	color:red;
}
/*error/success message boxes*/
.error, .success {
	background-color:#129212;
	border:0px solid #00CC00;
	padding:5px;
	margin-bottom:10px;
	margin-top:10px;
	color:white
}
.error {
	background:red;
	border:1px solid red;
	padding:5px;
	font-size:14px;
}
.error p {
	padding:5px;
	margin:0px;
}
.error a{color:white;}
.note {
	padding:5px;
	font-size:14px;
	background-color:#FFFFCC;
	border:1px solid gainsboro;
	margin-bottom:20px;
}
.grid-action-links a {
	font-size:11px;
	;
	padding:3px;
}
.hidden {
	display:none;
}
.inline {
	display:inline
}

/*adim form styles*/
.form{border:0px solid red;display:block;padding:5px;margin:0px;padding-left:0px;}
.input-flex{width:99%;padding:2px;padding-right:0px;}
.form .field, .form .field-inline{margin-bottom:15px;}
.form .field label{/*display:block;font-weight:bold;color:#333333*/}
.form .field-inline label{font-weight:bold;color:#333333}
.form .field label.desc{font-weight:normal;font-style:italic}
.form .required{color:Red;padding:2px;}
.form label.small{font-size:10px;color:#666666;font-weight:normal;}


.status .publish{cursor:pointer;}
.status .publish:hover{background:black;color:white;}

/*ddi upload*/
.ddi-upload .max-file-size{font-weight:normal;color:#666666}
.ddi-upload .ddi-upload{border: 1px solid gainsboro;}
.ddi-upload fieldset{border:0px;margin:0px;padding:0px;margin-bottom:15px;margin-top:20px;}
.ddi-upload fieldset legend{font-weight:bold;}
.ddi-upload fieldset .file{border:1px solid #C9C2C2;width:100%;background:#F7F5F5;}
.ddi-upload fieldset .field{margin-bottom:0px;}

.breadcrumbs{margin-bottom:25px;}

/* translator */
.translation-container .sidebar{
	background:#F1F1F1;margin-top:10px;
}

.translation-container .sidebar-heading{
	font-weight:bold;
	background:gainsboro;
	padding:10px;
}

.translation-container .flex, .flex-master{width:99%;}
.translation-container s.flex-textarea{height:35px;}
.translation-container .flex-master{background-color:gainsboro;}
.translation-container .odd{background-color:white;}
.translation-container .odd td, .even td{border-bottom:1x4px solid white;padding:5px;}
.translation-container .not-found, .not-found  .flex-master{background-color:red;color:white;}
.translation-container .header{padding:15px;background-color:black;color:white;font-size:20px;height:30px;}
.translation-container .translation-key{font-weight:bold;}
.translation-container .table-header{padding:5px;font-weight:bold;}
.translation-container .content{margin:10px;}
.translation-container .success,.error{margin:5px;padding:10px;font-size:14px;border:1px solid gainsboro;}
.translation-container .success{background:green;color:white;}
.translation-container .error{background:red;color:white;}
.translation-container .hide{display:none;}
.translation-container .box {
	border: 1px solid gainsboro;
	margin-right: 5px;
	line-height: 150%;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.translation-container .box-header {
	font-weight: normal;
	padding: 5px;
	font-size: 14px;
	background: #F1F1F1;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ECECEC),to(#F9F9F9));
	background-image: -webkit-linear-gradient(bottom,#ECECEC,#F9F9F9);
	background-image: -moz-linear-gradient(bottom,#ECECEC,#F9F9F9);
	background-image: -o-linear-gradient(bottom,#ECECEC,#F9F9F9);
	background-image: linear-gradient(to top,#ECECEC,#F9F9F9);
	border-bottom: 1px solid #DFDFDF;
	text-shadow: white 0 1px 0;
	-webkit-box-shadow: 0 1px 0 white;
	box-shadow: 0 1px 0 white;
	position: relative;
	cursor: pointer;
}

.translation-container .file-name{text-transform:capitalize;}
.translation-container .form-body{background:#F1F1F1;}
.translation-container .translation-file{margin-bottom:4px;cursor:pointer;}
.translation-container .content .table-header th{padding:10px;}
.translation-container .edit-lang{padding:10px;}
.translation-container .translation-file .active{background:white;}
.translation-container .translation-file a{display:block;padding:5px;}
.translation-container .edit-lang-info{text-transform:uppercase;color:gray;}
/* end translator */